
#appCapsule {
    background-color: #fff !important;
    padding-top: 0px !important;
    overflow-x: hidden;
}
.card .card-body {
    padding: 0px !important;
}
.gameTransferFailButton
{
    margin-top: 20px;
    border-radius: 0px;
    padding: 25px 0px;
    background: #2456a6;
    color: #fff;
    margin-right: 10px;
}

 
p.text-success.successMsg
{
    color : green;
    text-align: center;
}
.ksLabel
{
    font-size: 30px;
    color: #37378a;
    text-align: center;
}

.game_transfer_img {
    width: 50px;
    height: 50px;
}
@media screen and (max-width: 400px) {     
    .game_transfer_img {
        width: 40px !important;
        height: 40px !important;
    }
    .service-color {
        font-size: 12px !important;
    }
}