<app-not-refresh-appbar>{{ 'helloword' | translate }}</app-not-refresh-appbar>
<div id="appCapsule" *ngIf="!refreshLoading">
    <h3 class="pt-2 text-center  no-padding " style="color:#2253A2;font-weight: bold;">{{'betHistoryDetails' | translate
        }}</h3><br>

    <div class="row mx-2" *ngIf="betType == '2D'">
        <div class="col-6 d-flex justify-content-start">
            <h4 class="text-center" style="padding-top: 0px !important; margin-top: 0px !important; font-weight: bold;">
                {{'time' | translate }} :</h4>
        </div>
        <div class="col-6 d-flex justify-content-end">{{historyModel.bet_date_Str | date:'dd-MM-yyyy'}} {{
            historyModel.bet_time }}</div>
    </div>

    <div class="row mx-2" *ngIf="betType == '2D'">
        <div class="col-6 d-flex justify-content-start">
            <h4 class="text-center " style="padding-top: 0px !important; margin-top: 0px !important;font-weight: bold">
                {{'bet_time' | translate }} :</h4>
        </div>
        <div class="col-6 d-flex justify-content-end">{{historyModel.created_date | date:'dd-MM-yyyy hh:mm a'}}</div>
    </div>
    <div class="row mx-2" *ngIf="betType == '3D' ">
        <div class="col-6 d-flex justify-content-start">
            <h4 class="text-center" style="padding-top: 0px !important; margin-top: 0px !important;font-weight: bold">
                {{'bet_time' | translate }} :</h4>
        </div>
        <div class="col-6 d-flex justify-content-end">{{historyModel.bet_date_Str | date:'dd-MM-yyyy hh:mm a'}} {{
            historyModel.bet_time }}</div>
    </div>
    <div class="row mx-2">
        <div class="col-12">
            <table class="table bet-history-detail-table">
                <thead>
                    <tr class="tr-first">
                        <th scope="col">{{ 'no' | translate}}</th>
                        <th scope="col">{{ 'bet_list_number' | translate}}</th>
                        <th scope="col">{{ 'odds' | translate}}</th>
                        <th scope="col">{{ 'bet_list_amount' | translate}}</th>
                        <th scope="col">{{ 'bet_history_detail_status' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let betDetailListObj of betHistoryDetailList;let i=index;" class="tr-second">
                        <td style="white-space: pre;"> {{ i+1 }}</td>
                        <td>{{ betDetailListObj.number }}</td>
                        <td>{{ betDetailListObj.odd }}</td>
                        <td>{{ betDetailListObj.amount | number :'1.0-2' }}</td>
                        <td><span style="font-weight: bold;margin-top: 10px;" *ngIf="betDetailListObj.isWon==true"
                                class="win-text">{{'win' | translate}}</span></td>
                    </tr>
                    <tr class="tr-three">
                        <td colspan="3" class="text-left">{{ 'total_amount' | translate }}</td>
                        <td colspan="2">{{ historyModel.total_amount | number :'1.0-2' }}&nbsp;({{ 'ks' | translate}})
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<!-- refresh loading -->
<ngx-spinner [name]="common.loading.refreshLoading.name" [size]="common.loading.refreshLoading.size"
    [color]="common.loading.refreshLoading.color" [type]="common.loading.refreshLoading.type"
    [fullScreen]="common.loading.refreshLoading.fullScreen"></ngx-spinner>