<app-not-refresh-appbar backUrl="/noti">{{ 'helloword' | translate }}</app-not-refresh-appbar>
<div class="root" *ngIf="isUserLoggedIn && !common.refreshLoading">
    <div *ngIf="notiDetailObj.isFirstTopup != '1' && notiDetailObj.type=='TOPUP'">
        <div class="card noti-card">
            <div class="title" *ngIf="notiDetailObj.title=='Topup Successful'">
                <span style="font-size: 17px;">{{'topup_title' | translate}}</span>
            </div>
            <div class="title" *ngIf="notiDetailObj.title!='Topup Successful'">
                <span style="font-size: 17px;">{{notiDetailObj.title}}</span>
            </div>
            <div class="noti__body">
                <span *ngIf="(notiDetailObj.description !=null && notiDetailObj.description != 'null')"
                    style="color:  red;">{{ notiDetailObj.description }}</span>
                <span *ngIf="(notiDetailObj.description == null  || notiDetailObj.description == 'null')">{{
                    getTopupNotiStr(notiDetailObj.state) }}</span>
            </div>
            <div class="divider">
            </div>
            <div class="noti__date">
                {{'topup_time' | translate}}{{notiDetailObj.request_date | date:'dd/MM/yyyy hh:mm a'}}
            </div>
        </div>
        <div class="img__box">
            <img src="{{imgLink}}" alt="image" class="noti__imaged">
        </div>
    </div>
    <div *ngIf="notiDetailObj.type=='WITHDRAW'">
        <div class="card noti-card">
            <div class="title" *ngIf="notiDetailObj.title=='Withdrawal denied'">
                <span style="font-size: 17px;"> {{'withdrawal_denied_title' | translate}}</span>
            </div>
            <div class="title" *ngIf="notiDetailObj.title=='Withdrawal Successful'">
                <span style="font-size: 17px;"> {{'withdrawal_sucess_title' | translate}}</span>
            </div>
            <div class="noti__body">
                <span *ngIf="(notiDetailObj.description !=null && notiDetailObj.description != 'null')"
                    >{{ notiDetailObj.description }}</span>
                <span *ngIf="(notiDetailObj.description == null || notiDetailObj.description == 'null')"
                    >{{getWithdrawNotiStr(notiDetailObj.state)}}</span>
            </div>
            <div class="divider">
            </div>
            <div class="noti__date">
                {{'withdrawal_time' | translate}} {{notiDetailObj.request_date | date:'dd/MM/yyyy hh:mm a'}}
            </div>
        </div>
        <div class="img__box">
            <img src="{{imgLink}}" alt="image" class="noti__imaged">
        </div>
    </div>

    <div *ngIf="notiDetailObj.type=='2D Results'">
        <div class="card noti-card">
            <div class="title">
                <!-- <span style="font-size: 17px;"> {{notiDetailObj.title}}</span> -->
                 <span style="font-size: 17px;">{{'2dresult' | translate}}</span>
            </div>
            <div class="noti__body">
                <span>{{ twodResult }}</span>
                <span class="number">{{notiDetailObj.number}}</span>
                <span>{{ 'towd_is' | translate}}</span>

            </div>
            <div class="divider">
            </div>

            <div *ngIf="notiDetailObj.sendTime!=null" class="noti__date">
                {{'noti_date' | translate}} {{notiDetailObj.sendTime | date:'dd/MM/yyyy hh:mm a'}}
            </div>
            <div *ngIf="notiDetailObj.sendTime==null" class="noti__date">
                {{'noti_date' | translate}} {{notiDetailObj.currentdate | date:'dd/MM/yyyy hh:mm a'}}
            </div>
        </div>
        <div class="img__box">
            <img src="{{imgLink}}" alt="image" class="noti__imaged">
        </div>
    </div>

    <div *ngIf="notiDetailObj.type=='3D Results'">
        <div class="card noti-card">
            <div class="title">
                <span style="font-size: 17px;"> {{notiDetailObj.title}}</span>
            </div>
            <div class="noti__body">
                <span>{{'threed_result' | translate}}</span>
                <span class="number">{{notiDetailObj.number}}</span>
                <span>{{ 'towd_is' | translate}}</span>
            </div>
            <div class="divider">
            </div>
            <div *ngIf="notiDetailObj.sendTime!=null" class="noti__date">
                {{'noti_date' | translate}} {{notiDetailObj.sendTime | date:'dd/MM/yyyy'}}
            </div>
            <div *ngIf="notiDetailObj.sendTime==null" class="noti__date">
                {{'noti_date' | translate}} {{notiDetailObj.currentdate | date:'dd/MM/yyyy'}}
            </div>

        </div>
        <div class="img__box">
            <img src="{{imgLink}}" alt="image" class="noti__imaged">
        </div>
    </div>

    <div
        *ngIf="notiDetailObj.type=='All' || notiDetailObj.type== 'Football' || notiDetailObj.type== 'Maintenance' || notiDetailObj.type== 'Advertising'">

        <div class="card noti-card">
            <div class="title">
                <span style="font-size: 17px;line-height: 1.7;"> {{notiDetailObj.title}}</span>
            </div>
            <div class="" *ngIf="notilink==''">
                <div style="width: 100%" class="ql-editor" (click)="handleClick($event)"
                    [innerHTML]="getSanitizedContent(this.notiDetailObj.bodyForPushNoti)"
                    *ngIf="notiDetailObj.bodyForPushNoti!=null"></div>
            </div>
            <div class="noti__body" style="white-space: pre-line;text-align: center;" *ngIf="notilink!=''">
                <span>{{linktext}}</span>
                <a href="{{notilink}}"> {{notilink}} </a>
            </div>

            <div class="divider mt-2">

            </div>

            <div *ngIf="notiDetailObj.sendTime!=null" class="noti__date">
                {{'noti_date' | translate}} {{notiDetailObj.sendTime | date:'dd/MM/yyyy hh:mm a'}}
            </div>
            <div *ngIf="notiDetailObj.sendTime==null" class="noti__date">
                {{'noti_date' | translate}} {{notiDetailObj.currentdate | date:'dd/MM/yyyy hh:mm a'}}
            </div>
        </div>
        <div class="img__box">
            <img src="{{imgLink}}" alt="image" class="noti__imaged">
        </div>
    </div>

    <div *ngIf="notiDetailObj.type=='WINNER'">
        <div class="card noti-card">
            <div class="title">
                <span style="font-size: 17px;"> {{notiDetailObj.title}} </span>
            </div>
            <div class="noti__body">
                <div style="font-weight: bold;font-size: 16;">{{userProfileModel.name}}</div>
                <div *ngIf="notiDetailObj.category == '2D'"
                    style="padding-top: 10px;padding-bottom: 10px;font-size: 14;">
                    {{'noti_winner_title2D'| translate}}
                </div>
                <div *ngIf="notiDetailObj.category != '2D'"
                    style="padding-top: 10px;padding-bottom: 10px;font-size: 14;">
                    {{'noti_winner_title3D'| translate}}
                </div>
                <div style="padding-top: 10px; font-size:18px;color: blue;">
                    {{ notiDetailObj.balance | number : '1.0-2'}}
                </div>
            </div>
            <div class="divider">
            </div>
            <div class="row" style="justify-content:space-between;padding-top: 10px;">
                <div class="col">
                    {{'bet_time'| translate}}
                </div>
                <div class="col">
                    {{getWinnerDate() | date:'dd/MM/yyyy hh:mm a'}}
                </div>
            </div>
            <div class="row" style="justify-content:space-between;padding-top: 10px;">
                <div class="col">
                    {{'noti_winner_number'| translate}}
                </div>
                <div class="col">
                    {{notiDetailObj.number}}
                </div>
            </div>
            <div class="row" style="justify-content:space-between;padding-top: 10px;">
                <div class="col">
                    {{'bet_amount'| translate}}
                </div>
                <div class="col">
                    {{ notiDetailObj.amount | number : '1.0-2'}}
                </div>
            </div>

            <div class="row" style="justify-content:space-between;padding-top: 10px;">
                <div class="col">
                    {{'odds'| translate}}
                </div>
                <div class="col">
                    {{ notiDetailObj.odd }}
                </div>
            </div>
        </div>
        <div class="img__box">
            <img src="{{imgLink}}" alt="image" class="noti__imaged">
        </div>
    </div>
    <div *ngIf="notiDetailObj.type=='TOPUP' && notiDetailObj.isFirstTopup == '1'">
        <div class="card noti-card">
            <div class="title">
                <span style="font-size: 17px;"> {{notiDetailObj.title}} </span>
            </div>
            <div class="noti__body">
                <span>{{getFirstTopUpStr()}}</span>
            </div>
            <div class="divider">
            </div>
            <div class="noti__date">
                {{'point_time' | translate}}
                {{notiDetailObj.sendTime | date:'dd/MM/yyyy hh:mm a'}}
            </div>
            <div *ngIf="notiDetailObj.sendTime!=null" class="noti__date">
                {{'point_time' | translate}}{{notiDetailObj.sendTime | date:'dd/MM/yyyy hh:mm a'}}
            </div>
            <div *ngIf="notiDetailObj.sendTime==null" class="noti__date">
                {{'point_time' | translate}} {{notiDetailObj.currentdate | date:'dd/MM/yyyy hh:mm a'}}
            </div>

        </div>
        <div class="img__box">
            <img src="{{imgLink}}" alt="image" class="noti__imaged">
        </div>
    </div>

    <!-- bankslip -->
    <div *ngIf="notiDetailObj.type=='BankSlip'">
        <div class="card noti-card">
            <div class="title">
                <span style="font-size: 17px;" *ngIf="notiDetailObj.state != 'DENIED'"> {{'bankslip_approved_title' |
                    translate}} </span>
                <span style="font-size: 17px;" *ngIf="notiDetailObj.state == 'DENIED'">{{'bankslip_reject_title' |
                    translate}}</span>
            </div>
            <div class="noti__body">
                <span *ngIf="notiDetailObj.state != 'DENIED'">{{'bankslip_approved_body' | translate}}</span>
                <span *ngIf="notiDetailObj.state == 'DENIED'">{{'bankslip_reject_body' | translate}}</span>

            </div>
            <div class="divider">
            </div>

            <div *ngIf="notiDetailObj.sendTime!=null" class="noti__date">
                {{notiDetailObj.sendTime | date:'dd/MM/yyyy hh:mm a'}}
            </div>
            <div *ngIf="notiDetailObj.sendTime==null" class="noti__date">
                {{notiDetailObj.currentdate | date:'dd/MM/yyyy hh:mm a'}}
            </div>

        </div>
        <div class="img__box">
            <img src="{{imgLink}}" alt="image" class="noti__imaged">
        </div>
    </div>

    <div *ngIf="notiDetailObj.type=='Point' && notiDetailObj.state=='RECEIVED'">
        <div class="card noti-card">
            <div class="title">
                <span style="font-size: 17px;">{{'referal_bonus_point' | translate}}</span>
            </div>
            <div class="noti__body">
                <span>{{ getNotiPoint(notiDetailObj.state)}}</span>
            </div>
            <div class="divider">
            </div>
            <div class="noti__date">
                {{notiDetailObj.request_date | date:'dd/MM/yyyy hh:mm a'}}
            </div>
        </div>
        <div class="img__box">
            <img src="{{imgLink}}" alt="image" class="noti__imaged">
        </div>
    </div>

    <div *ngIf="notiDetailObj.type=='Point' && notiDetailObj.state=='APPROVED'">
        <div class="card noti-card">
            <div class="title">
                <span style="font-size: 17px;">{{'referal_pt_trans_success' | translate}}</span>
            </div>
            <div class="noti__body">
                <span>{{ getNotiPoint(notiDetailObj.state)}}</span>
            </div>
            <div class="divider">
            </div>
            <div class="noti__date">
                {{notiDetailObj.request_date | date:'dd/MM/yyyy hh:mm a'}}
            </div>
        </div>
        <div class="img__box">
            <img src="{{imgLink}}" alt="image" class="noti__imaged">
        </div>
    </div>
    <div *ngIf="notiDetailObj.type=='Point' && notiDetailObj.state=='DENIED'">
        <div class="card noti-card">
            <div class="title">
                <span style="font-size: 17px;">{{'referal_pt_trans_denied' | translate}}</span>
            </div>
            <div class="noti__body">
            </div>
            <div class="divider">
            </div>
            <div class="noti__date">
                {{notiDetailObj.request_date | date:'dd/MM/yyyy hh:mm a'}}
            </div>
        </div>
        <div class="img__box">
            <img src="{{imgLink}}" alt="image" class="noti__imaged">
        </div>
    </div>
</div>

<!-- refresh loading -->
<ngx-spinner [name]="common.loading.refreshLoading.name" [size]="common.loading.refreshLoading.size"
    [color]="common.loading.refreshLoading.color" [type]="common.loading.refreshLoading.type"
    [fullScreen]="common.loading.refreshLoading.fullScreen"></ngx-spinner>