@import '../../../../variables';
.root{    
    margin-top: 8px; 
    min-height: 100vh;
    background-color: $background-color !important;
    .noti-card{        
        margin: 38px 10px 16px;   
        padding: 32px 16px 16px;
        position: relative;
        width: auto;
        .title{
            color: blue;
            text-align: center;
            padding-bottom: 16px;            
        }        
        .noti__body{
            padding-bottom: 16px;
            text-align: center;
            .number{
                color: blue;
            }
        } 
        .noti__date{
            display: flex;
            align-self: center;
            margin-top: 16px;
        }   

        
    }
    .img__box{
        display: flex;       
        min-width: max-content;
        left: calc(50% - 30px);        
        top: 62px;
        position: absolute;
        
        .noti__imaged{   
            width:60px;
            height:60px;
            border-radius: 10px;
        }        
    }  

    .ql-editor em {
        font-style: italic;
      }
      
      .ql-editor strong {
        font-weight: bold;
      }
      .ql-editor {
        line-height: 1.5;
      }

}



  
  


