@import "../../../../variables";
// #appCapsule {
//     padding: 0px !important;
//     background-color: #fff !important;
//     height: 100% !important;
//     overflow-x: hidden;
// }

#appCapsule {
  padding: 0px !important;
  background-color: #fff !important;
  min-height: 100vh;
  overflow-x: hidden;
}


::ng-deep {
    .game-play-now-modal .modal-header{
      padding-right: 10px !important;
      margin-top: 10px;
  
    }
    
    .forgetPassword-class {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: calc(100vh - 60px);
    }
    
  }



/* Spinner overlay to cover the entire viewport */
