
 <div class="appHeader text-light">
    <div class="left">
        <a (click)="goBack()" class="headerButton">
            <img src="assets/img/icon/arrow_back.png" alt="">
        </a>
    </div>
    <div class="pageTitle"> <ng-content></ng-content>{{ 'helloword' | translate }} </div>
</div>

<div id="appCapsule" class="extra-header-active">
  <h3 class="text-center pt-2" style="color: #2253A2;font-weight: bold;">{{'forgotPassword' | translate }}</h3>
  <div class="row justify-content-center">
    <div style="display:inherit;text-align: left;width:85%" class="section-title mb-1">{{ 'make_user_receiveable_sms' |
      translate}}</div>
  </div>
  <form>
    <div class="row justify-content-center">
      <div style="width: 85%;height:42px; border: 2px solid #2253A2 ; border-radius: 5px;margin-left:0 !important">
        <app-phone-picker [prefix]="prefix" [phoneValue]="phoneValue" [isDisabled]="istxtdisable">
          [regularExpressionPhone]="regularExpressionPhone"></app-phone-picker>
      </div>
    </div>
    <div class="row mt-4 justify-content-center">
      <button type="button"
        style="border:none;border-radius: 5px;width:85%;height:40px; background-color: #2253A2; color: #fff;"
        *ngIf="!common.submitLoading" (click)="submit()">{{ 'next' | translate}}</button>
    </div>
    <div class="mt-2" style="position: relative; justify-content: center;align-items: center;" class="mt-2"
      *ngIf="common.submitLoading">
      <ngx-spinner [name]="common.loading.submitLoading.name" [size]="common.loading.submitLoading.size"
        [color]="common.loading.submitLoading.color" [type]="common.loading.submitLoading.type"
        [fullScreen]="common.loading.submitLoading.fullScreen"></ngx-spinner>
    </div>
  </form>

  <div class="row justify-content-center mt-3" style="font-size:12px;text-decoration: underline #2253A2 ;">
    <a [routerLink]="['/me-page/default-otp']" [queryParams]="{phoneNumber:phoneValue}" [replaceUrl]="false"
      class="mr-2" style="margin-top:4px">
      <h4 class="underline" style="color:#2253A2">{{'change_otp_method' | translate}}</h4>
    </a>
  </div>
</div>

<ngx-spinner bdColor="rgb(6,56,107)" size="large" color="#fff" type="ball-spin-clockwise"
  [fullScreen]="true"></ngx-spinner>

<ng-template #forgetPassword>
  <div class="modal-body">
    <h4>{{ 'is_your_phone' | translate }}</h4>
    <h5 style="color: #2253A2; font-weight: 600; font-size: 20px;">{{ modalService.config.initialState.number }}</h5>
    <h4>{{ 'code_will_send' | translate }}</h4>
    <div style="text-align: right;">
      <button type="button" class="btn" (click)="HideAlert()">{{ 'edit' | translate}}</button>
      <button type="button" class="btn" (click)="submit()">{{ 'smallNext' | translate}}</button>
    </div>
  </div>
</ng-template>