
<div id="appCapsule"  style="padding-bottom: 80px !important;">
   <div id="livePage">    
      <div class="container">
         <div id="result" class="resultStyle">
         </div>
         <div id='lastUpdateDate' class="updateTimeStyle" style="margin-top: 64px;">
         </div>
      </div>
      <div class="container mt-2" >
         <div id="section-container" class="card" style="background-color: #2253A2; border-radius: 5px;">               
         </div>
         <div id="modern-container" class="mt-2 card" style="background-color: #2253A2; border-radius: 5px;display: none;"></div>  
         <div class="loader" id="loading"></div>     
      </div>
   </div>
</div>
