  @import '../../../../variables';

  #game__list {
    min-height: 120vh;

    .extraHeader1 {
      position: fixed;
      left: 0;
      top: 56px;
      height: auto;
      right: 0;
      width: 100%;
      padding: 0px !important;
      margin-top: env(safe-area-inset-top);
      display: flex;
      align-items: center;
      //background: #E1DFE2;
      z-index: 1000;
      margin-left: 0px !important;
      margin-right: 0px !important;
    }

    .extraFooter {
      margin-top: 160px;
    }

    .extraFooter-not {
      margin-top: 80px;
    }

    .slider {
      position: relative;
      padding: 5px 10px !important;
    }
  }



  .slide.ng-star-inserted>img {
    border-radius: 15px !important;
    height: 200px !important;
  }

  .slide.ng-star-inserted>a img {
    border-radius: 15px !important;
    height: 200px !important;
  }

  .overlay {
    width: calc(100% - 20px);
    position: absolute;
    top: calc(100% - 30px);
    left: 10px;
    right: 10px;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 26px;
  }

  .overlay marquee h5 {
    color: #fff;
    margin-top: 3px;
    font-size: 12px;
  }

  //   .account-login {
  //     font-size: 60px;
  //     color: $second-color;
  // }
  // .account_login_text{
  //   color: $second-color;
  //   font-weight: 600;
  // }
  .walletlbl {
    color: #fff;
    font-size: 10px;
    text-align: center;
    margin-left: 50px;
  }

  .child-walletbalance {
    //font-weight: 900;
    display: inline;
    padding-left: 0px;
    color: #000;
    font-size: 12px;
  }

  .child-walletlbl {
    font-weight: 900;
    display: inline;
    padding-left: 7px;
    color: #fff;
    font-size: 12px;
  }

  .active-wallet {
    width: 30px;
    height: 30px;
    margin-top: 8px;
  }

  .game-searching-col {
    width: 100% !important;
    text-align: center;
  }

  .game-searching-icon {
    margin-left: -30px;
    margin-bottom: -5px;
    width: 20px;
  }

  .game-searching {
    width: 75%;
    padding: 8px;
    border: 1px solid $second-color;
    margin-top: 10px;
    border-radius: 5px;
  }

  .game-searching:focus {
    border: 3px solid $second-color !important;
    outline: none !important;
  }

  .gameTitleImgClass {
    margin: 20px 0px;
    width: 100%;
    height: 50px;
    text-align: center;
  }

  .maintenanceClass {
    margin-left: 100px
  }

  .close-buttton {
    border: 1px solid #eee;
    color: $first-color;
  }

  .game-list {
    margin: 0px 5px;
    display: inline;

  }

  .game {
    display: block;
    margin-left: 10px;
  }

  .bradius {
    border: 3px;
    border-color: #f5a545;
    border-radius: 10px;
    text-align: center;
    background-color: #2456A6;
    padding: 1px;
    border-style: solid;
    width: 100px;
    height: 60px;
    margin: 10px 0px;
  }

  .text-wrap {
    word-wrap: break-word;
    font-size: 12px;
    display: block;
  }

  //clean css

  .header {
    position: relative;
    text-align: center;
    background: #fff;

  }

  .game-name-span {
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -10px;
    word-wrap: break-word;
    white-space: normal;
  }


  .row {
    margin: auto !important;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }

  ::ng-deep {

    .game-maintenance {
      transform: none;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      overflow-y: auto !important;
      min-height: calc(100% - 100px) !important;
    }

    .game-play-now-modal .modal-header {
      padding-right: 10px !important;
      margin-top: 10px;

    }

    .game-play-now-modal .modal-footer {
      margin-bottom: 20px;
      margin-right: 20px;
      // margin-right: 140px;
    }

    .game-play-now-modal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      //overflow-y: auto;
      min-height: calc(100vh - 60px);
      max-width: 350px !important;
      width: 90%;
      margin: auto;
    }

    .game-play-now-modal .modal-content {
      border-radius: 10px;
    }

    .game-play-now-modal .modal-content>.modal-header,
    .modal-footer {
      border: none !important;
      padding: 5px 0px;
    }

  .game-play-modal .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0; /* Reset default margin */
}

.game-play-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Center content vertically */
  align-items: center;      /* Center content horizontally */
  min-height: calc(100vh - 60px);
}

.game-play-modal .modal-header {
  margin-bottom: 0;
  margin-right: 20px;
  margin-top: 10px;
}

.game-play-modal .modal-footer {
  margin-bottom: 20px;
  justify-content: center;
}

.game-play-modal .modal-content {
  border-radius: 10px;
  width: 100%; /* Set width if needed */
}

.game-play-modal .modal-content > .modal-header,
.game-play-modal .modal-footer {
  border: none !important;
  padding: 5px 0;
}


    @media only screen and (max-width: 900px) {
      .game-maintenance {
        transform: none;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        overflow-y: auto !important;
        min-height: calc(100% - 100px) !important;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .extraHeader1 {
      left: 35% !important;
      /* margin: 0px 35% !important; */
      max-width: 30% !important;
    }
  }