.slider {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.slider img {
  height: 200px;
}

  /* .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 300px !important;
  }
  .slide.ng-star-inserted >img {

    height: 200px !important;
    } */

   .overlay {
    width: 100%;
    position: absolute;
    top: calc(100% - 30px);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    height: 26px;
  }

  .overlay marquee h5 {
    color: #fff;
    margin-top: 3px;
    font-size: 12px;
   // animation: marqueeAnim 20s linear infinite;
  }

  @keyframes marqueeAnim {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}



/*
@media screen and (min-width: 900px) {
  .slide.ng-star-inserted >img {
    height: 600px !important;
    }
    .overlay{
      position: absolute;
      top: 85%;
      left: 0;
      width: 100%;
      height: 10%;
      z-index: 10;
      background-color: rgba(0,0,0,0.5);
    }
    .overlay marquee {
      color: #fff;
      padding-top: 20px;
    }

}

@media screen and (max-width: 992px) {
  .slide.ng-star-inserted >img {
    height: 300px !important;
    }
    .overlay{
      position: absolute;
      top: 80%;
      left: 0;
      width: 100%;
      height: 10%;
      z-index: 10;
      background-color: rgba(0,0,0,0.5);
    }
    .overlay marquee {
      color: #fff;
      padding-top: 5px;
      font-size: 15px;
    }

}

@media screen and (max-width: 600px) {
  .slide.ng-star-inserted >img {
    height: 160px !important;
    }
    .overlay
    {
      position: absolute;
      top: 75%;
      left: 0;
      width: 100%;
      height: 15%;
      z-index: 10;
      background-color: rgba(0,0,0,0.5);
    }
    .overlay marquee {
      color: #fff;
      padding-top: 5px;
      font-size: 15px;
    }

}


@media screen and (max-width: 300px) {
  .slide.ng-star-inserted >img {
    height: 160px !important;
    }
    .overlay{
      position: absolute;
      top: 67%;
      left: 0;
      width: 100%;
      height: 15%;
      z-index: 10;
      background-color: rgba(0,0,0,0.5);
    }
    .overlay marquee {
      color: #fff;
      padding-top: 5px;
      font-size: 12px;
    }

}
@media screen and (min-width: 1024px) {
  .slide.ng-star-inserted >img {
    height: 160px !important;
    }

    .overlay marquee {
      color: #fff;
      padding-top: 5px;
      font-size: 15px;
    }
} */