
<div class="modal-header">
    <h4 class="modal-title pull-left"></h4>
    <div  class="close pull-right">     
      <i class="material-icons" (click)="close()" style="color: red;">cancel</i>  
    </div>    
   </div>    
<div class="modal-body" style="padding: 0px !important;">
<div class="container-fluid">
    <div class ="row pt-2 pb-4">
        <div  style="background-color: transparent !important; position: relative; margin: 15px 15px 30px 15px; width: 100%; " *ngIf="gameLoadingone">
            <ngx-spinner name="gameLoadingone" size = "small" color = "rgb(6,56,107)" type = "ball-spin-clockwise" [fullScreen] = "false"></ngx-spinner>
        </div>
        <button type="button" class="btn btn-block mx-3" (click)="playwithWebView()" *ngIf="!gameLoadingone" style="background: #000; color: #fff;margin: 10px 0px;">{{ 'play_web_view' | translate}}</button>
       
        <div style="background-color: transparent !important; position: relative;margin: 30px 15px 15px 15px; width: 100%;" *ngIf="gameLoadingtwo">
            <ngx-spinner name ="gameLoadingtwo" size = "small" color = "rgb(6,56,107)" type = "ball-spin-clockwise" [fullScreen] = "false"></ngx-spinner>
        </div>
        <button type="button" class="btn btn-success btn-block mx-3" (click) = "playwithMobileView()" *ngIf="!gameLoadingtwo">{{ 'play_mobile_view' | translate}}</button>        
    </div>
    
</div>
</div>
