@import '../../../../variables';
card {
    @include box-shadow;
}
#appCapsule {
    padding-top: 10px !important;
    background-color: $background-color !important;
    min-height: 100vh;
}
.pendingText {
    font-size: 10px;
}
.nav-tabs.lined .nav-item .nav-link {
    height: 40px !important;
}
.history-main {
    background-color: none !important;
    border: 1px solid $second-color;
}
.history-main > li .nav-link.active {
    background-color: $second-color !important;
    color: #fff;   
    border-bottom-color: transparent !important;
}
.driver {
    margin-top: 10px;
    line-height: 1.4em;   
    border-bottom: 1px dashed $second-color;
    width: 100%;    
   
}
@media screen and (max-width: 768px) {
    .driver{width:100%;}
}

.header{
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 50%;
}
.header-active{
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 50%;
    height:50px;
    border-bottom: solid 2px $second-color;  
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0 , 0.2);  
    z-index: 111;
   // background-color: none !important;
    //border: 1px solid $second-color;
    
} 
#mainwallet > .nav-tabs.lined .nav-item .nav-link.active {
    color: $first-color;
    background: transparent;
    border-bottom-color: $second-color !important;
}
#appCapsule.extra-header-active {
    padding-top: 100px;
    margin-top: -50px;
}
#appCapsule1 {
    margin-top: -60px;
}
.descText
{
    font-size: 10px;
    color: green;
}
.denieddescText
{
    font-size: 10px;
    color: red;
}
.pendingdescText
{
    font-size: 10px;
    color: blue;
}
.imaged{
    border-radius: 35px;
    width: 50px;
    height: 50px;
    border: 2px;
    background-color: white;
    border-color: lightskyblue;
}
.card-body{
    display: flex;
    flex-direction:row;
    //border-bottom: dashed green;
}
.detailInfo{
    margin-left: 20px;
}
.detail{
    margin-top: 20px;
    justify-content: flex-end;
}
.amount {
    margin-top: 20px;
    position: absolute;
    right: 35px;
}
.message{
    padding:0px 16px ;
}
@media screen and (min-width: 1024px) {
   
    .container {
        width: 400px !important;
    }
    .extraHeader {
        left: 35% !important;
        /* margin: 0px 35% !important; */
        max-width: 30% !important;
    }
}
.appHeader {
    background: linear-gradient(60deg, $first-color 0%, $second-color 100%);
 }
 @media screen and (max-width: 342px) {
    .btn{
      width: 70px;
    }    
  }
  @media screen and (max-width: 270px) {
    .btn{
        width: 70px;
    }
}

.ngx-spinner {
  z-index: 9999;  /* Ensure it's on top of other elements */
}

