@import '../../../../variables';

#appCapsule {
  .extraHeader1 {
    position: fixed;
    left: 0;
    top: 56px;
    height: auto;
    right: 0;
    width: 100%;
  //  margin-top: env(safe-area-inset-top);
    display: flex;
    align-items: center;
    background: #fff;
    z-index: 1000;

    .threed-card {
      @include box-shadow;
      border-radius: 5px;
      padding-top: 5px;
    }

    .imaged.init {
      height: 40px !important;
      border-radius: 0px !important
    }
  }

  .extraFooter {
    margin-top: 120px;
  }
}

#navThreeDBet {
  min-height: 56px;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 1024px) {
  .extraHeader1 {
    left: 35% !important;
    max-width: 30% !important;
  }

  #navThreeDBet {
    margin: 0px 35% !important;
    max-width: 30% !important;
  }
}

@media screen and (max-width: 360px) {
  .threed-card {
    p {
      font-size: 10px !important;
    }
  }
}