<div class="appHeader text-light" *ngIf="!common.refreshLoading">
  <div class="left">
    <a (click)="goBack()" class="headerButton">
      <img src="assets/img/icon/arrow_back.png" alt="">
    </a>
  </div>
  <div class="pageTitle"> {{ 'helloword' | translate}}</div>
  <div class="right">
    <i class="material-icons add-class" (click)="twodBetAddModal(twodBetAdd)">add</i>
  </div>
</div>

<div id="appCapsule" *ngIf="!common.refreshLoading">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="text-center" style="color:#2253A2;margin-top: 15px; margin-bottom: 0 !important;">{{ 'list_of_bet' |
          translate}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="font-weight-bold justify-content-center">{{ 's/n' | translate}}</th>
              <th scope="col" class="font-weight-bold justify-content-center">{{ 'bet_list_number' | translate}}</th>
              <th scope="col" class="font-weight-bold justify-content-center">{{ 'bet_list_amount' | translate}}</th>
              <th scope="col" class="font-weight-bold justify-content-center">{{ 'edit/delete' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let betTwoDListObj of betTwoDList;let i=index;">
              <th scope="row">{{ i+1 }}</th>
              <td><span
                  [class]="betTwoDListObj.unbetstatus?'text-danger': ''">&nbsp;&nbsp;{{betTwoDListObj.number}}</span>
              </td>
              <td><span [class]="betTwoDListObj.unbetstatus?'text-danger': ''">{{betTwoDListObj.amount |
                  number:'1.0':'en-US'}}</span></td>
              <td>
                <img src="assets/img/icons/edit.png" alt="Edit"
                  (click)="threedBetEditModal(threedBetEdit,betTwoDListObj.number,betTwoDListObj.amount)"
                  style="margin-right: 20px; margin-bottom: 3px !important;">
                <img src="assets/img/icons/delete.png" alt="Delete" (click)="twodBetDelete(betTwoDListObj.number)">
              </td>
            </tr>
            <tr>
              <td colspan="2" class="text-center" style="color:#2253A2">
                {{ 'total_amount' | translate }}
              </td>
              <td colspan="2">
                <h4 style="font-weight: 600;" style="color:#2253A2">{{totalAmount | number:'1.0':'en-US'}} {{ 'ks' |
                  translate }}</h4>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row totalAccountAmount">
      <div class="col-6 d-block my-2 text-center" style="color:#2253A2">
        {{ 'balance' | translate }}
      </div>
      <div class="col-6 d-block my-2 text-center" style="color:#2253A2">
        {{ userProfileModel.balance | number : '1.0'}}
        {{ 'ks' | translate }}
      </div>
    </div>
  </div>
</div>
<!-- * App Capsule -->
<ng-template #threedBetEdit>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="pl-1 font-weight-bold">{{ modalService.config.initialState.number }}</div>
      </div>
      <div class="row">
        <div class="col-12 mt-1">
          <input type="number" maxlength="3" class="betamount-text"
            [(ngModel)]="modalService.config.initialState.amount" [ngModelOptions]="{standalone: true}"
            value={{modalService.config.initialState.amount}} (keyup)="checkBetAmount()"
            (keypress)="keyPressNumbers($event)">
          <p id="betAmountErr" class="error-color"></p>
        </div>
      </div>
      <div class="row justify-content-end">
        <button type="button" class="btn btn-sm bet-buttton mr-1" style="width: 80px;" (click)="twodBetModalDelete()">
          {{ 'cancel' | translate}}
        </button>
        <button type="button" class="btn btn-sm bet-buttton" style="width: 80px;"
          (click)="threedBetModalNew(modalService.config.initialState.number, modalService.config.initialState.amount)">
          {{ 'ok' | translate}}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #threedBetUnBetList>
  <div class="modal-body">
    <button type="button" class="close pull-right" aria-label="Close" (click)="unBetLimitListModalDelete()">
      <span aria-hidden="true">×</span>
    </button>
    <div class="section full">
      <div class="row mt-3">
        <div class="col-6" *ngFor="let unBetLimitListObj of modalService.config.initialState.unBetLimitList;">
          {{ unBetLimitListObj.number }} = {{ unBetLimitListObj.amount | number:'1.0':'en-US'}} {{'ks' | translate}}
        </div>
      </div>
    </div>
    <div class="mt-1">
      <p class="text-danger">{{'unbetlist_text' | translate}}</p>
    </div>
  </div>
</ng-template>

<ng-template #twodBetAdd>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="pl-1 ">{{ 'threeDbetAddTitle' | translate}}</div>
      </div>
      <div class="row">
        <div class="col-12 mt-1">
          <label for="" class="pb-1">{{ 'bet_list_number' | translate}}</label>
          <input [type]="threedNumberFieldType" class="betamount-text" [(ngModel)]="betAddNumber"
            [ngModelOptions]="{standalone: true}" (keyup)="checkBetAddNumber()"
            (keypress)="keyPressNumberfornumberintput($event)">
          <p id="betAddNumberErr" class="error-color"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-1">
          <label for="" class="pb-1">{{ 'bet_list_amount' | translate}}</label>
          <input type="number" minlength="3" class="betamount-text" [(ngModel)]="betAddAmount"
            [ngModelOptions]="{standalone: true}" (keyup)="checkBetAddAmount()" (keypress)="keyPressNumbers($event)">
          <p id="betAddAmountErr" class="error-color"></p>
        </div>
      </div>
      <div class="row justify-content-end">
        <button type="button" class="btn btn-sm bet-buttton mr-1" style="width: 80px;" (click)="betAddModelRemove()">
          {{ 'cancel' | translate}}
        </button>
        <button type="button" class="btn btn-sm bet-buttton" style="width: 80px;" (click)="betAddModelNumber()">
          {{ 'twoDbetAddButton' | translate}}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!-- refresh loading -->
<ngx-spinner [name]="common.loading.refreshLoading.name" [size]="common.loading.refreshLoading.size"
  [color]="common.loading.refreshLoading.color" [type]="common.loading.refreshLoading.type"
  [fullScreen]="common.loading.refreshLoading.fullScreen"></ngx-spinner>

<!-- App Bottom Menu -->
<div class=" section full   d-flex justify-content-center" id="navTwoDBetConfirm" style="background-color: #f4f2f2;">
  <button type="button" class="btn btn-lg btn-block  betconfrimButton1 mb-3" (click)="goBack()">{{ 'reselect' |
    translate}}</button>
  <div class="mt-5"
    style=" position: relative; justify-content: center; background-color: transparent !important; width: 100%; height: 100%;"
    *ngIf="common.betLoading">
    <!-- submit loading -->
    <ngx-spinner [name]="common.loading.betLoading.name" [size]="common.loading.betLoading.size"
      [color]="common.loading.betLoading.color" [type]="common.loading.betLoading.type"
      [fullScreen]="common.loading.betLoading.fullScreen"></ngx-spinner>
  </div>
  <button type="button" class="btn btn-lg btn-block  betconfrimButton2 mb-3"
    (click)="threedBetUnBetListModal(threedBetUnBetList)" *ngIf="!common.betLoading">{{ 'bet' | translate}}</button>
</div>
<!-- * App Bottom Menu -->