<div class="appHeader text-light">
    <div class="left">
        <a (click)="goToGame()" class="headerButton">
            <i class="material-icons" style="font-size: 26px;">arrow_back</i>
        </a>
    </div>
    <div class="pageTitle"> {{ 'helloword' | translate}}</div>
</div>
<div id="appCapsule">
    <div class="container" *ngIf="showUI==true">
        <div class="row pt-3" style="justify-content: center;">
            <img class="bradius" [src]="LaunchGameList.iconurl" alt="gameImage">
        </div>
        <div class="row d-flex justify-content-center">
            <h4 style="color: #2253A2;text-align: center;"
                *ngIf="(launchTag == null || launchTag == undefined || launchTag == '' ) ">{{ launchTagName }}</h4>
            <p style="color: #2253A2;text-align: center;"
                *ngIf="(launchTag != null && launchTag != undefined && launchTag != '' ) ">{{ launchTagName }}</p>
        </div>
    </div>
</div>

<ngx-spinner size="small" color="rgb(6,56,107)" type="ball-spin-clockwise" [fullScreen]="true"
    *ngIf="game == 'gameList'"></ngx-spinner>