
@import '../../../variables';

#appCapsule {
    padding: 0px !important;
    background-color: #f8f8f8 !important;  
    overflow-x: hidden;  
    
}
.header{
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 50%;
}
.header-active{
    background-color: #fff;
    display: flex;
    justify-content: center;
    width: 50%;
    border-bottom: solid 4px $second-color;  
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0 , 0.2);  
    z-index: 111;
}

.one-header-active{
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid 4px $second-color;
}