.more-driver {
    border: 1px solid #eeee;
    width: 90px;
    height: 2px;
    margin-top: 15px;   
}
#appCapsule {
    padding: 0px !important;
    background-color: #fff !important;
    min-height: 100vh!important;
    overflow-x: hidden;
  }

  input::placeholder {
    font-size: 13px;
  }
