::ng-deep {
    .section-inner{
        text-align: center; 
        -webkit-box-pack: justify; 
        -ms-flex-pack: justify; 
        justify-content: space-between; 
        padding: 0px !important; 
        margin: 2px 0px !important;        
    }
    .driver {       
        border-bottom: 1px solid silver;       
    }
    
    .annimate{
        -webkit-animation: fadeIn 1s infinite alternate; animation: fadeIn 1s infinite alternate;
    }
    .no-annimate{
        text-align: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;
    }
}
 
 
#appCapsule {
    height: 100% !important;
}

.loader {
    border: 4px solid #f3f3f3; 
    border-top: 4px solid #2253A2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    50% { opacity: 1; }
}

p{
    color: white;
}

.section-card{
    margin: 2px 0px;
    padding: 10px;
    text-align: center;
}

.resultStyle{
    font-family: 'Roboto', sans-serif;
    color: #2253A2;
    font-size: 120px;   
    text-align: center;
    font-weight: 800;
    letter-spacing: 1;
}

.resultStyleAnimate{
    animation: fadeIn 1s infinite alternate;
    font-family: 'Roboto', sans-serif;
    color: #2253A2;
    font-size: 120px;   
    text-align: center;
    font-weight: 800;
    letter-spacing: 1;
}

.updateTimeStyle{
    font-family: 'Roboto', sans-serif;
    color: #2253A2;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    font-style: normal;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  
}
row{
    text-align: center;
    justify-content: space-between;
}

.sec-title{
    text-align: center;
    color: white;
    font-weight: bold;
    padding-bottom: 8px;
}
.sec-divider {
  height: 1px;
  background: white;
  display: flex;
  opacity: 0.7;
}

.sec-data{
    text-align: center;
    color: white;
    font-weight: bold;
}
.sec-data-animate{
    animation: fadeIn 1s infinite alternate;
    text-align: center;
    color: white;
    font-weight: bold;
}


.value-highlight{
    color:rgb(234, 190, 59)
}
.dateIcon
{
    color: #11687e;
    font-size: 15px;
}

.open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}
