
<div class="appHeader text-light">
    <div class="left">
      <a (click)="goBack()" class="headerButton">
        <i class="material-icons" style="font-size: 26px;">arrow_back</i>
     </a>
    </div>
    <div class="pageTitle"> Thai 2D3D </div>
  </div>

<div id="appCapsule"   >
<div id="receipt" class="container" *ngIf = "!isSpinner">
    <div class="pt-2">

        <div class="text-center" *ngIf = "tranObj.type== 'TOPUP' && tranObj.status== 'DENIED' ">
            <h4 class="pending-header">
                {{ 'topup_pending_detail_title' | translate}}
           </h4>

           <i class="material-icons"  style="color: red;font-size: 30px;">cancel</i>
            <p class = "deniedIcon">{{'notification_toup_denied' | translate }} </p>
       </div>

        <div class="text-center" *ngIf = "tranObj.type == 'WITHDRAW' && tranObj.status == 'DENIED' ">
            <h4 class="pending-header">
                {{ 'withdrawal_pending_detail_title' | translate}}
            </h4>
            <i class="material-icons"  style="color: red;font-size: 30px;">cancel</i>
            <p class = "deniedIcon">{{'notification_withdrawal_denied' | translate }} </p>
        </div>

        <div class="text-center" *ngIf = "tranObj.type == 'WITHDRAW' && tranObj.status == 'APPROVED' ">
            <h4 class="pending-header">
                {{ 'withdrawal_pending_detail_title' | translate}}
            </h4>
            <i class="material-icons" style="font-size: 30px; color: green;">check_circle</i>
            <p class = "successfulText">{{'successful' | translate }} </p>
        </div>

        <div class="text-center" *ngIf = "tranObj.type == 'WITHDRAWAL'">
            <h4 class="pending-header">
                {{ 'withdrawal_pending_detail_title' | translate}}
            </h4>
            <i class="material-icons" style="font-size: 30px; color: green;">check_circle</i>
            <p class = "successfulText">{{'successful' | translate }} </p>
        </div>

        <div class="text-center" *ngIf = "tranObj.type == 'WITHDRAW' && tranObj.status == 'PENDING' ">
            <h4 class="pending-header">
                {{ 'withdrawal_pending_detail_title' | translate}}
            </h4>
            <img src="assets/img/pendingimage.png" alt="pendingimage" width="30px" height="30px">
            <p class = "pendingText">{{'PENDING' | translate }} </p>
        </div>

        <div class="text-center" *ngIf = "tranObj.type == 'TOPUP'  && tranObj.status == 'APPROVED'">
             <h4 class="pending-header">
                {{ 'topup_pending_detail_title' | translate}}
            </h4>

             <i class="material-icons" style="font-size: 30px; color: green;">check_circle</i>
             <p class = "successfulText">{{'successful' | translate }} </p>
        </div>

        <div class="text-center" *ngIf = "tranObj.type == 'DEPOSIT'">
            <h4 class="pending-header">
                {{ 'topup_pending_detail_title' | translate}}
           </h4>

           <i class="material-icons" style="font-size: 30px; color: green;">check_circle</i>
            <p class = "successfulText">{{'successful' | translate }} </p>
       </div>

        <div class="text-center" *ngIf = "tranObj.type == 'TOPUP' && tranObj.status == 'PENDING' ">
            <h4 class="pending-header">
                {{ 'topup_pending_detail_title' | translate}}
           </h4>
            <img src="assets/img/pendingimage.png" alt="pendingimage" width="30px" height="30px">
            <p class = "pendingText">{{'PENDING' | translate }} </p>
       </div>

        <div class="section full" >
            <div class="card1">
                <div class="card-body1">
                    <div class="container-fluid1">
                        <div class="row mb-2 justify-content-center">
                            <img [src]="tranObj.paymentLogoUrl" alt="product" class="imaged">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div>
            <ul class="listview simple-listview list-group">
                <li *ngIf = "(tranObj.type == 'DEPOSIT' || tranObj.type == 'TOPUP') && typeOfPage != 1">
                   {{'transaction_Request_Time' | translate}}<span>{{tranObj.created_date_string}}</span>
                </li>
                <li *ngIf = "(tranObj.type == 'DEPOSIT' || tranObj.type == 'TOPUP') && typeOfPage==1">
                    {{'transaction_Time' | translate}}<span>{{tranObj.created_date_string}}</span>
                 </li>
                <li *ngIf = "(tranObj.type == 'WITHDRAWAL' || tranObj.type == 'WITHDRAW')  && typeOfPage != 1"> {{'transaction_Request_Time' | translate}}<span>{{tranObj.created_date_string}}</span></li>
                <li *ngIf = "(tranObj.type == 'WITHDRAWAL' || tranObj.type == 'WITHDRAW')  && typeOfPage == 1"> {{'transaction_Time' | translate}}<span>{{tranObj.created_date_string}}</span></li>
                <li *ngIf = "(tranObj.type == 'WITHDRAWAL' || tranObj.type == 'WITHDRAW') && typeOfPage != 1">
                    <span *ngIf="tranObj.status!='DENIED'"> {{'transaction_approved_Time' | translate}} </span>
                    <span *ngIf="tranObj.status=='DENIED'"> {{'transaction_reject_Time' | translate}} </span>
                    <span>{{tranObj.updated_date_string}}</span>
                </li>

                <li *ngIf = "(tranObj.type == 'DEPOSIT' || tranObj.type == 'TOPUP') && typeOfPage != 1">
                    <span *ngIf="tranObj.status!='DENIED'&& typeOfPage != 1"> {{'transaction_approved_Time' | translate}} </span>
                    <span *ngIf="tranObj.status=='DENIED' && typeOfPage != 1"> {{'transaction_reject_Time' | translate}} </span>
                    <span>{{tranObj.updated_date_string}}</span></li>

                <li>{{'transaction_detail_type' | translate}}
                     <span *ngIf = "tranObj.type == 'DEPOSIT' || tranObj.type == 'TOPUP'">{{'topup_hisdesc' |translate}}</span>
                     <span *ngIf = "tranObj.type == 'WITHDRAWAL' || tranObj.type == 'WITHDRAW'">{{'withdrawal_hisdesc' |translate}}</span>
                </li>

                <li *ngIf = "typeOfPage == 1 && tranObj.type == 'DEPOSIT'">{{'transaction_game_type' | translate}}<span>{{tranObj.bank_name}}</span></li>

                <li *ngIf = "typeOfPage == 1 && tranObj.type == 'WITHDRAWAL'">{{'transaction_game_type' | translate}}<span>{{tranObj.bank_name}}</span></li>

                <li *ngIf = "typeOfPage == 0  && tranObj.type == 'TOPUP' ">{{'transaction_detail_bank' | translate}}<span>{{tranObj.bank_name}}</span></li>

                <li *ngIf = "typeOfPage == 0 && tranObj.type == 'WITHDRAW'">{{'transaction_detail_bank' | translate}}<span>{{tranObj.bank_name}}</span></li>

                <li *ngIf = "typeOfPage == 0 && tranObj.type == 'WITHDRAW'">{{'withdrawal_receiving_account' | translate}}<span>{{tranObj.account_no}}</span></li>

                <li *ngIf = "typeOfPage == 0 && tranObj.type == 'TOPUP' ">{{'transaction_detail_topup_account' | translate}}<span>{{tranObj.transaction_no}}</span></li>

                <!---->
                <!-- <li *ngIf = "typeOfPage == 1">{{'transaction_game_type' | translate}}<span>{{tranObj.name}}</span></li> -->

                <li>{{'transaction_detail_amount' | translate}} <span>{{tranObj.amount | number : 0}} {{'ks' | translate}}</span></li>
            </ul>
        </div>

        <div *ngIf = "tranObj.type == 'TOPUP' && tranObj.status == 'PENDING'">
        <div class="row" *ngIf = "tranObj.type == 'TOPUP' && tranObj.status == 'DENIED'">
            <div class="row tranStatusDenied">
                <div class="col-12 d-block my-2 text-center">
                    <a>
                    <div class="row">
                        <div class="col-10 text-center" style="color:gray">
                        <p>{{ 'topup_denied_detail_title' | translate}}</p>
                        </div>

                        <p style="text-align: left;margin-left: 5px;">{{'topup_denied_state_desc' |translate}}</p>
                    </div>
                </a>
                </div>
            </div>
        </div>

        <div class="row" *ngIf = "tranObj.type == 'WITHDRAW' && tranObj.status == 'DENIED'">
            <div class="row tranStatusDenied">
                <div class="col-12 d-block my-2 text-center">
                    <a>
                        <div class="row">
                            <div class="col-10 text-center" style="color:gray">
                            <p>{{ 'withdrawal_denied_detail_title' | translate}}</p>
                            </div>
                            <p style="text-align: left;margin-left: 5px;">{{'withdrawal_denied_state_desc' |translate}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div style="display:flex;justify-content: center;" class = "pt-2" *ngIf = "(tranObj.type == 'TOPUP' || tranObj.type =='WITHDRAW') && tranObj.status == 'DENIED'">
            <button type="button" class="btn shadowed" (click) = "goMainPage()" style="width: 90%;align-content: center;background-color: red;border-radius: 20px;color: #fff;">
                <!-- {{ 'denied_detail_btn' | translate}} -->
                {{ 'tran_waiting_btn' | translate}}
            </button>
        </div>

    </div>

</div>

</div>
<div class="action-container" *ngIf="typeOftrans=='maintrans' && !isSpinner">

  <!-- Download -->
  <button class="icon-btn" (click)="downloadReceipt()">
  <img src="assets/img/icon/download.svg" alt="Download" class="icon-img">
   <span class="icon-label">{{'download' |translate}}</span>
 </button>

  <!-- Share -->
  <button class="icon-btn" (click)="shareReceipt()">
      <img src="assets/img/icon/share.svg" alt="Download" class="icon-img">
       <span class="icon-label">{{'share' |translate}}</span>
  </button>

</div>



 <!--XXX spinner MH-->
 <ngx-spinner name = "spinnerName1" bdOpacity = 0.9 size = "medium" color = "rgb(50,205,50)" type = "ball-spin-clockwise" [fullScreen] = "true"></ngx-spinner>

<app-navigation-bar></app-navigation-bar>



