
<app-not-refresh-appbar parentLink="/me-page" [rootLevel]=1>{{ 'helloword' | translate }}</app-not-refresh-appbar>

<div id="appCapsule">    
      <!-- * App Header -->
      <h3 class="pt-2 text-center font-weight-bold">{{'withdraw_account_select' | translate}}</h3>
      <div class="modal-body">
              <div class="col-12">
                <div class="card mt-4" *ngFor="let bankAccObj of mywithdrawalBankAccList">
                  <div class="row justify-content-center" style="margin-top: -25px;">
                    <img [src]="bankAccObj.imageUrl" alt="product" class="bank__image">
                  </div>
                  
                  <div class="row ml-1 mt-1">
                    <div class="col-5 justify-content-start" style="white-space: nowrap;">
                      <p class="bank__number">{{ 'bank_account_name' | translate }}</p>
                    </div>
                    <div class="col-1 ml-1" style="font-weight: bold;">:</div>
                    <div class="col-4
                     justify-content-start">
                      <ng-container>
                        <p class="bank__number">{{ bankAccObj.account_name }}</p>
                      </ng-container>
                      
                    </div>
                    <div class="col-1 d-flex justify-content-end">
                      <img 
                        src="assets/img/icons/edit.png" 
                        alt="edit" 
                        class="edit-icon"
                        (click)="showeditmodal(withdrawaledit,bankAccObj)"
                        style="cursor: pointer; width: 20px; height: 20px;"
                      />
                    </div>
                  </div>
                  
                  <div class="row ml-1 mb-1">
                    <div class="col-5 justify-content-center" style="white-space: nowrap;">
                      <p class="bank__number">{{ 'bank_account' | translate }}</p>
                    </div>
                    <div class="col-1 ml-1" style="font-weight: bold;">:</div>
                    <div class="col-4">
                      <p class="bank__number">{{ bankAccObj.account_number }}</p>
                    </div>
                  </div>
                </div>
                
              </div>           
      </div>
    
</div>

<!-- <ng-template #withdrawaldelete style="margin-top: 50px;">                  
  <div class="modal-body" style="padding: 0px !important;">
     <h3 class="text-center mt-3">{{'confirm_withdrawaldelete_msg' | translate }}</h3>
  </div>
  <div class="modal-footer" style="display: flex; justify-content: center;"> 
          <button type="button" class="btn text-danger"  (click)="HidelogoutModel()">{{ 'cancel_withdrawaldelete' | translate}}</button>
          <button type="button" class="btn" style="color: #2253A2;"  (click)="withdrawDelete()" >{{ 'confirm_withdrawldelete' | translate}}</button>
  </div>

</ng-template> -->

<ng-template #withdrawaledit style="margin-top: 50px;">                  
  <div class="modal-body" style="padding: 0px !important;">
     <h3  class="ml-2 mt-2" style="color:#2253A2">{{'enter_bank_acc_name' | translate }}</h3>
      <div ngClass="mx-3">
     <input type="text" style="color:#2253A2" class="editname-text" [(ngModel)]="editName" [ngModelOptions]="{standalone: true}">
    </div>
  </div>
  <div class="modal-footer mb-1 justify-content-center">
    <button type="button" class="btn" style="height: 35px;color: red;border: 2px solid #ddd;border-radius: 5px;" (click)="HidelogoutModel()">
        {{ 'bank_acc_name_cancel' | translate }}
    </button>
    <button type="button" class="btn" style="color: #fff; border:none;background-color:#2253A2; height:35px;" (click)="saveEdit()">
        {{ 'bank_acc_name_save' | translate }}
    </button>
</div>

</ng-template>




