    <!-- App Header -->
    <div class="appHeader text-light">
        <div class="left">
        </div>
        <div class="pageTitle"><ng-content></ng-content></div>
        <div class="right">           
            <a class="headerButton">  
                <!-- <i class="material-icons" (click) ="refreshPage()" style="font-size: 26px;">refresh</i>   -->
                <img src="assets/img/icon/refresh.png" alt=""  (click) ="refreshPage()">  
            </a>            
        </div>
    </div>
    <!-- * App Header -->