<app-not-refresh-appbar >{{ 'helloword' | translate }}</app-not-refresh-appbar>
<div id="appCapsule">
          <div  style="padding-top: 80px !important;">          
               <div class="card mt-2 mx-4" style="margin-left: 30px;margin-right: 30px;">
                    <div class="card-body">   
                         <div class="text-center">      
                              <i class="material-icons" style="color: #fff;font-size: 60px; border-radius: 50px; background-color: green;">check_circle</i>            
                         </div>   
                         <div class="row justify-content-center">
                              <h3 class="text-center" style="font-weight: 600;color:green"> {{'forget-password-success-text' | translate }}</h3>
                         </div>  
                    </div>
               </div>
          </div>              
          <div class="pt-2 saveBtn" style="display:flex;justify-content: center;">
               <div class="mt-2" style="position: relative; justify-content: center; background-color: red;" class="mt-2" *ngIf="loadingSubmiting" >                  
                    <ngx-spinner size = "medium" color = "rgb(6,56,107)" name="loadingSubmiting" type = "ball-elastic-dots" [fullScreen] = "false"></ngx-spinner>
               </div>
               <button type="button" class="btn shadowed"
               style="width: 88%;align-content: center;background-color: #2456A6;border-radius: 5px;color: #fff;" (click)="UpdateNewDeviceId()" *ngIf="!loadingSubmiting">
                    {{ 'tran_waiting_btn' | translate}}
               </button>
          </div>           
</div>