@import '../../../../variables';

#appCapsule {
    padding-top: 0px !important;
    background-color: $background-color !important;
    min-height: 100vh; 
}
::ng-deep {    
    .twodBetAddClass , .twodBetEdit-class{
      display: flex;
      flex-direction: column;
      justify-content: center;   
      min-height: calc(100vh - 60px);
    } 
}
  
.edit-button {
    background-color: #2253A2; 
    color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 5px;
    height: 30px !important; 
   // padding: 5px !important;  
    width: 75px;
    height: 30px;
    white-space: nowrap;
}
.round-btn {
    margin-top: 5px;
    width: 70px;
    color: #fff;
    font-size: 12px;
    background: $second-color;
    border-radius: 10px;   
   
}

.round-active-btn {
    color: #fff;
    font-weight: 600;
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: $second-color;
    display: inline-block;      
    padding: 5px 0 0 0;
}
.round-noactive-btn {
    color: #fff;
    font-weight: 600;
    text-align: center;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    background-color: #ddd;
    display: inline-block;      
    padding: 5px 0 0 0;
}


.bet-confirm-font {
    color: $second-color;
    font-weight: 600;
}
.text-red {
    color: red;
}
.add-class {
    color: #fff;
    font-size: 40px !important;
    margin-top: -22px;
    padding-right: 0px;
    padding-top: 20px;
 
 }
 .wide-block {    
     border-top: 0px solid #dee2e6 !important;
     border-bottom: 0px !important;
 }
.appHeader {
    background: linear-gradient(to right, $first-color 0%, $second-color 100%);
}

.bet-edit-class {
    color: $second-color;
    padding-right: 5px;
}


.totalbetamount {  
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    
}

#navTwoDBetConfirm {
    min-height: 56px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
}

.betconfrimButton1 {
    margin-top: 20px;
    border-radius: 0px;
    // padding: 25px 0px;
    background: lightgray;
    color: #000;
    margin-left: 10px;

}
.betconfrimButton2 { 
   margin-top: 20px;
    border-radius: 0px;
   // padding: 25px 0px;
    background: $second-color;
    color: #fff;
    margin-right: 10px;
}
.totalAccountAmount {
    background: #f4f2f2;
    margin: 0px 10px;
    border-radius: 10px;
    //box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 8%);  
    margin-top: 10px;
    margin-bottom: 120px;

}

.betamount-text, .betamount-text:focus{
  width: 100%;
 //padding: 12px 20px;
  //margin: 8px 0;
  box-sizing: border-box;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 3px solid $second-color;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.bet-buttton {
    background: $second-color;
    color: #fff;
    border-radius: 5px;
    width: auto;
    height: 30px;
}

.error-color {
    color: red;
    font-size: 12px;
    padding-top: 5px;
}

@media screen and (min-width: 1024px) {
    .edit-button {
        width:  55px !important; 
        padding: 5px !important;      
    }
    .modal-dialog.twodBetAddClass {
        width: 420px !important;
    }
    #navTwoDBetConfirm {
        margin: 0px 35% !important;
        max-width: 30% !important;
    }
    .twodBetEdit-class {
        width: 420px !important;       
    }
}

@media screen and (min-width: 576px){
    .twodBetEdit-class {
        width: 420px !important;       
    }
    .modal-dialog.twodBetAddClass {
        width: 420px !important;
    }
}