
@import "../../../../variables";


#appCapsule {
    margin-top: 0px !important;
    padding-top: 0 !important;
    padding: 0px !important;
    background-color: #fff !important;
    min-height: 100vh;
    overflow-y: auto !important;
    padding-bottom: 80px !important;
    overflow-x: hidden;
}
.login-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

a,.active h5 {
    color: $second-color !important;
    font-weight: 300;
}

.text-eye {
  margin-left: 86%;
  float: right;
  margin-top: 8px;
  position: absolute;
  z-index: 111;
  }

  .text-eye ion-icon {
    font-size: 20px;
  }

.p-viewer {
  float: right;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

#loginPassword {
  border: none;
  outline: none;
}

#loginPassword:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

input::placeholder {
  font-size: 13px;
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 30px 10px 30px;
}

.line {
  flex: 1;
  height: 1px;
  width:40%;
  background-color: rgb(215, 212, 212);
}

.text-or {
  padding: 0 10px;
  font-size: 16px;
  color: rgb(215, 212, 212);
}

.app-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #fff;
  color: red;
  padding: 3px 0;
  z-index: 1000;
  box-sizing: border-box;
}

