<app-not-refresh-appbar>{{ 'helloword' | translate }}</app-not-refresh-appbar>
<div [ngClass]="{'keyboard-visible': isKeyboardVisible}">
    <div id="appCapsule" class="extra-header-active">
        <img src="assets/img/wallpaper6.png" alt="" width="100%">
        <div class="pt-1" style="background-color:#fff">
            <ul class="nav lined" role="tablist" style="justify-content: center; width: 100%">
                <li class="nav-item" *ngFor="let lang of supportLanguages">
                    <a class="nav-link" [ngClass]="{ 'active': activeLang === lang }" href="javascript:void(0)"
                        (click)="selectLang(lang)">
                        <h5 style="font-weight: bold;" *ngIf="lang === 'en'">English</h5>
                        <h5 style="font-weight: bold;" *ngIf="lang === 'my'">မြန်မာ</h5>
                        <h5 style="font-weight: bold;" *ngIf="lang === 'th'">ประเทศไทย</h5>
                        <h5 style="font-weight: bold;" *ngIf="lang === 'zh'">中文</h5>
                    </a>
                </li>
            </ul>

        </div>

        <div class="tab-content mt-1">
            <div class="tab-pane fade show active" id="login-form" role="tabpanel">
                <div class="section full mt-1 mx-1">
                    <form>
                        <div class="row  justify-content-center">
                            <div style="border: 2px solid #2253A2;border-radius: 5px;Height:'42px';width:'85%'">
                                <div style="width: 100%;"><app-phone-picker [prefix]="prefix" [phoneValue]="phoneValue"
                                        [regularExpressionPhone]="regularExpressionPhone"
                                        placeholder="{{ 'phoneNumberHint' | translate}}"></app-phone-picker></div>
                            </div>
                        </div>
                        <div class="row mt-4 justify-content-center">
                            <div style="border: 2px solid #2253A2;border-radius: 5px;Height:'42px';width:'85%'">
                                <div class="input-group input-wrapper">
                                    <input [type]="passwordType" maxlength="21" (keyup)='checkPassword()'
                                        [(ngModel)]="loginModel.password" (keyup.enter)="enter($event)"
                                        [ngModelOptions]="{standalone: true}" class="form-control mx-2"
                                        id="loginPassword" placeholder="{{ 'passwordHint' | translate}}"
                                        style="border-radius: 5px !important;">
                                    <i class="text-eye" (click)="showPassword(!showPass)">
                                        <i class="material-icons open-wallet"
                                            style="margin-left: 2px; font-size: 20px;color: gray;"
                                            *ngIf="showPass">visibility</i>
                                        <i class="material-icons open-wallet"
                                            style="margin-left: 2px; font-size: 20px; color: gray;"
                                            *ngIf="!showPass">visibility_off</i>
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div style="width:85%">
                                <p class="error-color pb-1">{{ passErr }}</p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="mt-2" style=" position: relative; justify-content: center;"
                                *ngIf="common.submitLoading">
                                <ngx-spinner [name]="common.loading.submitLoading.name"
                                    [size]="common.loading.submitLoading.size"
                                    [color]="common.loading.submitLoading.color"
                                    [type]="common.loading.submitLoading.type"
                                    [fullScreen]="common.loading.submitLoading.fullScreen"></ngx-spinner>
                            </div>
                            <button type="button" (click)="login()"
                                style="border-radius:5px;background-color: #2253A2; color: #fff;border:none;width:85% ;height:40px"
                                *ngIf="!common.submitLoading">{{ 'loginButton' | translate}}</button>
                        </div>
                        <div class="row text-right pt-1 mr-3">
                            <a style="width: 100%;font-weight: bold;text-decoration: underline;"
                                [routerLink]="['/login/initial-forgot-password']" [replaceUrl]="false"
                                class="forgotPassword"> {{ 'forgotPassword' | translate}} </a>
                        </div>
                        <div class="line-container">
                            <div class="line"></div>
                            <span class="text-or">{{'login_or' | translate}}</span>
                            <div class="line"></div>
                        </div>
                        <div class="row mt-2 mb-2 justify-content-center">
                            <button type="button" style="
                              border-radius: 5px;
                              background-color: #229ED9;
                              border: 2px solid #229ED9;
                              color: #fff;
                              width: 85%;
                              height: 40px;
                              "(click)="openTelegramBot()">
                                <i class="fab fa-telegram-plane me-2"></i>
                                {{ 'telegram_login' | translate }}
                            </button>
                        </div>
                        <div class="row mt-2 mb-2 justify-content-center">
                            <button type="button"
                                style="border-radius: 5px; background-color: #fff;border:2px solid #2253A2;color:#2253A2;width: 85%;height:40px"
                                [routerLink]="['/login/register']" [replaceUrl]="false">{{ 'creadeAccount' |
                                translate}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

<footer class="app-footer" style="color:red">
    <small>{{'version' | translate}}: {{ version }}</small>
</footer>