
// .game-wrapper {
//   width: 100vw;
//   height: 100vh;
//   overflow-x: scroll;
//   overflow-y: hidden;
//   -webkit-overflow-scrolling: touch;
// }

// .game-iframe {
//   width: 1200px;
//   height: 100vh;
//   border: none;
//   display: block;
// }

.game-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
}

.game-iframe {
  width: 1200px;
  height: 100vh;
  border: 0;
  display: block;
}
