<!-- App Header -->
  <app-not-refresh-appbar>{{ 'helloword' | translate }}</app-not-refresh-appbar>

  <div id="appCapsule" >
  
    <h4 class="text-center pt-2" style="color: #2253A2;font-weight:bold"> {{'your_change_password' | translate}}</h4>
            <form>
                <div class="container">
                    <div class="row passwrod-eye">
                        <div class = "col-1"></div>
                       
                          <div class = "col-12">
                                <input [type]="oldpasswordType" maxlength="21" class="form-control inputFiled"  placeholder="{{ 'oldPassword' | translate}}"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}" (keyup) ="checkPassword()" id = "password"
                                >
                                <span class="text-eye">
                                    <a [routerLink] = "" (click)="showoldPassword(!showoldPass)">                                      
                                        <i class="material-icons text-eye-color" style="margin-left: 2px; font-size: 20px;" *ngIf="showoldPass">visibility</i> 
                                        <i class="material-icons text-eye-color" style="margin-left: 2px; font-size: 20px;" *ngIf="!showoldPass">visibility_off</i>
                                    </a>
                                </span>  
                                <p class = "passError1" style="margin-top: 5px;"></p>
                           </div>
        
                            <div class = "col-1"></div> 
                        </div>
                        <!-- <div class="row mx-5">
                            <h5 class="text-muted">{{'set_password_dec1' |translate }}</h5>
                        </div>
                        <div class="row mx-5">
                            <h5 class="text-success">{{'forget_password_dec2' | translate}}</h5>
                        </div> -->
                        <br/>
                        <div class="row passwrod-eye">
                            <div class = "col-1"></div>
                            <div class = "col-12">
                            <input (keyup.enter)="enter($event)" maxlength="21" [type]="passwordType" class="form-control inputFiled" 
                             placeholder="{{ 'newPasswordHint' | translate}}"  [(ngModel)]="newPassword" 
                            [ngModelOptions]="{standalone: true}" (keyup) ="checkNewPassword()">
                            <span class="text-eye">
                                <a [routerLink] = "" (click)="showPassword(!showPass)">                                
                                    <i class="material-icons text-eye-color" style="margin-left: 2px; font-size: 20px;" *ngIf="showPass">visibility</i> 
                                    <i class="material-icons text-eye-color" style="margin-left: 2px; font-size: 20px;" *ngIf="!showPass">visibility_off</i>
                                </a>
                            </span>  
                            <p class = "passError2" style="margin-top: 5px;"></p>
                            </div>
                            <div class="col-1"></div>
                        </div>
                            <br/>
                        <div class="row passwrod-eye">
                            <div class = "col-1"></div>
                            
                            <div class = "col-12">
                                <input (keyup.enter)="enter($event)" maxlength="21" [type]="confirmpasswordType" class="form-control inputFiled"  placeholder="{{ 'regconfirmpasswordHint' | translate}}"  [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" (keyup) ="checkConfirmPassword()">
                                <span class="text-eye">
                                    <a [routerLink] = "" (click)="showconfirmPassword(!showconfirmPass)">                                      
                                        <i class="material-icons text-eye-color" style="margin-left: 2px; font-size: 20px;" *ngIf="showconfirmPass">visibility</i> 
                                        <i class="material-icons text-eye-color" style="margin-left: 2px; font-size: 20px;" *ngIf="!showconfirmPass">visibility_off</i>
                                    </a>
                                </span>  
                                <p class = "passError3" style="margin-top: 5px;"></p>
                            </div>
                           
                            <div class = "col-1"></div>
                        </div>
                        <div class="row text-right " style="margin: 0px !important; padding: 0px !important; ">

                            <a style="width: 100%;color:#2253A2;text-decoration: underline;" [routerLink]="['/login/initial-forgot-password']" [queryParams]="{formPage:'changepwdpage'}" class="forgotPassword my-2 mr-2" > {{ 'forgotPassword' | translate}} </a>
                       </div>
                       <div class="row">
                        <div class = "col-1"></div>
                        <div class = "col-12">
                            <button type="button" class="btn login-button" (click) = "changePassword()">{{ 'account_change' | translate}}</button>
                        </div>
                        <div class = "col-1"></div>
                       </div>
                       <div class="row mx-3 pt-2 register-warning">
                        <span>{{ 'register-warning-text1' | translate }}</span>
                        <span>{{ 'register-warning-text2' | translate }}</span>
                        <span>{{ 'register-warning-text3' | translate }}</span>
                        <span style="color: red !important;">{{ 'register-warning-text4' | translate }}</span>                   
                    </div>
                </div>                
            </form>
            
  </div>
<!-- 
<app-navigation-bar></app-navigation-bar> -->
