@import "../../../../variables";

.register-warning {
    display: inline-grid;
  }
  .register-warning > span {
    color: #2253A2;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 12px;
   
  }
#appCapsule {
    padding: 0px !important;
    background-color: #fff !important;
    
}
.text-eye-color {
    color: gray;
}
.text-eye {
        float: right;
        margin-right: 6px;
        margin-top: -30px;
        position: relative;
        z-index: 2;
}
.text-eye ion-icon {    
    font-size: 20px;
    color: $second-color;
}

.passwrod-eye {
    display: flex;
}
.login-button {
    width: 100%;   
    border: 2px solid  $second-color;
    border-radius: 5px;
    color: $text-button-color;
    margin-top: 30px; 
    background-color: $second-color;   
}

// input{
//     border-color: $second-color;
//     background-color: #ddd;
// }
.passError1, .passError2, .passError3
{
    color : red;
    font-size: 12px;
    font-weight: bold;
}
.inputFiled
{
    position: relative;
    z-index: 1;
}

input::placeholder {
    font-size: 13px;
  }