
<app-not-refresh-appbar (myEvent) = "refreshPage()">{{ 'helloword' | translate }}</app-not-refresh-appbar>

<div id="appCapsule">
    <h3 class="pt-2 text-center">iPhone ထဲသို့ Thai 2D3D ထည့်သွင်းနည်း</h3>
    <div class="container">
        <h4 class="pt-2 text-center">(၁/၅) iPhone ၏ Safari ကို ဖွင့်ပါ။</h4>
        <div class="row">
         <img src="https://file.thai2d3dgame.com/files/ios/1.jpg" alt="" width="100%">
        </div>
        <h4 class="mt-5 pt-2 text-center">(၂/၅) Thai 2D3D App ၏ ဝက်ဆိုဒ် https://www.thai2d3dgame.com ကိုဝင်ပါ။</h4>
        <div class="row">
         <img src="https://file.thai2d3dgame.com/files/ios/2.jpg" alt="" width="100%">
        </div>
        <h4 class="mt-5 pt-2 text-center">(၃/၅) Share button(ရှဲခလုတ်) ကိုနှိပ်ပါ။</h4>
        <div class="row">
         <img src="https://file.thai2d3dgame.com/files/ios/3.jpg" alt="" width="100%">
        </div>
        <h4 class="mt-5 pt-2 text-center">(၄/၅) "Add to Home Screen" ကိုနှိပ်ပါ။</h4>
        <div class="row">
         <img src="https://file.thai2d3dgame.com/files/ios/4.jpg" alt="" width="100%">
        </div>
        <h4 class="mt-5 pt-2 text-center">(၅/၅) "Add" ကိုနှိပ်ပါ။</h4>
        <div class="row">
         <img src="https://file.thai2d3dgame.com/files/ios/5.png" alt="" width="100%">
        </div>
        <h4 class="mt-5 pt-2 text-center">သင်ဟာ Thai 2D3D ကို သင်၏ဖုန်းထဲသို့ထည့်ပြီးပါပြီ။</h4>
        <div class="row">
         <img src="https://file.thai2d3dgame.com/files/ios/6.jpg" alt="" width="100%">
        </div>
    </div>
</div>