<appbar (myEvent) = "refreshPage()">{{ 'helloword' | translate }}</appbar>
<div id="appCapsule">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">   
</head> 
<div class="extraHeader pt-2 pb-2" style="box-shadow: none !important;">
    <ul class="nav nav-tabs lined history-game" role="tablist">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': historyMain}"  data-toggle="tab" (click)="goToRoute()"> {{ 'main_wallet' | translate }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': historyGame}" data-toggle="tab" href="#lined" (click) = "getTopupGameTransactionHistorytab(pageNumber,'DEPOSIT')"> {{ 'game_wallet_tran_text' | translate }}</a>
        </li>            
    </ul>
    
  </div>
  
  <!-- <div class="tab-content">
    <div id="mainwallet" class="tab-pane fade in active" style="margin-top: 70px;">
        <ul class="nav nav-tabs lined" role="tablist">
            <li class="nav-item">
                <a class="nav-link " [ngClass]="{'active': gameTopup}" data-toggle="tab" href="#Topup" (click) = "getTopupGameTransactionHistory(pageNumber,'DEPOSIT')"> {{ 'toup_history' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': gameWithdrawal}" data-toggle="tab" href="#Withdrawal"  (click)="getTopupGameWithTransactionHistory(pageNumber,'WITHDRAWAL')"> {{ 'withdrawal_history' | translate }}</a>
            </li>            
        </ul>   
      
    </div>
  </div> -->

  <div class="row mt-5 ml-2 mr-2">
    <div [ngClass]="gametopuptab? 'header-active':'header'" (click)='Gotogametopup()'
        style="padding-top: 5px;display: flex;padding-right: 5px;">
        <span [ngStyle]="gametopuptab?{'color': '#2253A2'} : {'color': 'black'}" 
            class="d-flex justify-content-center pt-1 mt-1">{{'toup_history' | translate}}</span>
    </div>

    <div [ngClass]="gamewithdrawaltab? 'header-active':'header'" (click)='Gotogamewithdrawal()'
        style="padding-top: 5px;display: flex;padding-right: 0px  !important">
        <span [ngStyle]="gamewithdrawaltab?{'color': '#2253A2'} : {'color': 'black'}"
            class="d-flex justify-content-center pt-1 mt-1 ">{{'withdrawal_history' | translate}}</span>
    </div>

</div>


  <div class="tab-content" >
    <div id="Topup" style="margin-top: 10px;" *ngIf="gametopuptab==true">
            <div class="section" id="appCapsule">
                <div style="margin: 0px 10px;">
                    <div class="card mb-2" *ngFor="let tranObj of addList">
                        <div class="mb-1" (click) = "viewDetail(tranObj,1)">
                            <div class="in card-body" style="padding: 10px 16px 0px !important;">
                                <div class="container">
                                    <div class="row">
                                        <img [src]="tranObj.paymentLogoUrl" alt="product" class="imaged">
                                        <div class="detailInfo">
                                           
                                            <h3 style="font-weight: bold;color: black;margin: 0px;">{{tranObj.name}}</h3>
                                            <span class="text-muted" >{{tranObj.created_date_string}}</span>
                                        </div>
                                        <div class="link-listview">
                                            <div>
                                                    <span class="amount" style="color: #000; font-weight: 600;">{{tranObj.amount_Str}} {{'ks' | translate}} &nbsp;
                                                        
                                                        <i class="material-icons" style="font-size: 14px;">arrow_forward_ios</i>        
                                                             
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="driver"></div>
                                    <div class="row">
                                        <div class="container-fluid" style="padding: 0px !important; margin: 0px !important;">
                                            <div class="row mb-1" *ngIf = "tranObj.type == 'DEPOSIT'">
                                                <div class="col-8 pl-2">
                                                    <!-- <h3 style="margin: 0px;" class="descText">{{'topup_approved_state_title' | translate}}</h3> -->
                                                    <h4 style="margin: 0px;white-space:nowrap ;" class="descText pt-1">{{'topup_approved_state_desc' | translate}}
                                                    </h4>
                                                </div>
                                                <div class="col-4 text-right pt-1 pr-2">  
                                                    <i class="material-icons" style="font-size: 20px; color: green;">check_circle</i>                                         
                                                   
                                                </div>
                                            </div>
                                            <div class="row" *ngIf = "tranObj.status == 'DENIED' ">
                                                <h3 style="margin: 0px;" class="denieddescText">{{'topup_denied_state_title' | translate}}</h3>
                                                <h4 style="margin: 0px;" class="denieddescText">{{'topup_denied_state_desc' | translate}}
                                                    <!-- <i class="fas fa-times-circle ml-5"></i> -->
                                                </h4>
                                            </div>
                                            <div class="row" *ngIf = "tranObj.status == 'PENDING' ">
                                                <h3 style="margin: 0px;" class="pendingdescText">{{'pending_detail_state' | translate}}</h3>
                                            </div>
                                        <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div> 
                        </div>
                    </div>
                </div>
                
                <div style="display: flex;justify-content: center;margin-top: 2px;">
                    <button type="button"  [hidden] = isLast (click)="getTopupGameTransactionHistoryMore(pageNumber,'DEPOSIT')" style="background-color: #2253A2; color: #fff; border:none; border-radius: 5px;height:40px;width:80%" *ngIf="loadingMore">
                       {{'morebtn' | translate}} 
                    </button>
                    <!-- <button [hidden] = isLast type="button" class="btn btn-primary" (click)="getTopupGameTransactionHistoryMore(pageNumber,'DEPOSIT')">
                        More
                   </button>
                x   
                    <p [hidden] = !isLast>
                        No More Data
                    </p> -->
               </div>
        </div>
   </div>
        <div class="" id="Withdrawal" style="margin-top: 10px;" *ngIf="gamewithdrawaltab==true">
            <div class="section full" id="appCapsule">
                <div style="margin: 0px 10px;">
                    <div class="card mb-2" *ngFor="let tranObj of addWithGameList">
                        <div class="mb-2" (click) = "viewDetail(tranObj,1)">
                            <div class="in card-body" style="padding: 10px 16px 0px !important;">
                                <div class="container">
                                    <div class="row">
                                        <img [src]="tranObj.paymentLogoUrl" alt="product" class="imaged">
                                        <div class="detailInfo">
                                            <h3 style="font-weight: bold;color: black; font-size: 12px;margin: 0px;">{{tranObj.name}}</h3>
                                            <span class="text-muted" >{{tranObj.created_date_string}}</span>
                                        </div>
                                        <div class="link-listview">
                                            <div>
                                                    <span class="amount" style="color: #000; font-weight: 600;">{{tranObj.amount_Str}} {{'ks' | translate}} &nbsp;
                                                        <i class="material-icons" style="font-size: 20px;">arrow_forward_ios</i>
                                                    </span>
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="driver"></div>
                                    <div class="row">
                                        <div class="container-fluid"  style="padding: 0px !important; margin: 0px !important;">
                                                <div class="row justify-content-center"  *ngIf = "tranObj.type == 'WITHDRAWAL' ">
                                                    <div class="col-8 pl-2">
                                                        <!-- <h3 style="margin: 0px;" class="descText">{{'notification_withdrawal_success' | translate}}</h3> -->
                                                    <h4 style="margin: 0px; white-space: nowrap;" class="descText pt-1">{{'gameTransaction_approved_state_desc' | translate}}
                                                        <i class="fas fa-check-circle ml-5"></i>
                                                    </h4>
                                                    </div>
                                                    <div class="col-4 text-right pt-1 pr-2">       
                                                          <i class="material-icons" style="font-size: 20px; color: green;">check_circle</i>       
                                                    </div>
                                                </div>                                        
                                        </div>
                                    </div>
                                </div>                                
                            </div>                           
                        </div>                      
                    </div>  
                </div>
                              
                <div style="display: flex;justify-content: center;" >
                    <button type="button" class="button mt-2"  [hidden]=isLastGW (click)="getTopupGameWithTransactionHistoryMore(pageNumber,'WITHDRAWAL')" style="background-color: #2253A2; color: #fff;border-radius: 5px;" *ngIf="loadingMore">
                        {{'morebtn' | translate}} 
                    </button>
                    <!-- <button type="button" class="btn btn-primary" [hidden]=isLastGW (click)="getTopupGameWithTransactionHistoryMore(pageNumber,'WITHDRAWAL')">
                        More
                    </button>
                    <p [hidden]=!isLastGW>
                        No More Data
                    </p> -->
                </div>
            </div>
        </div>   
    
    </div>
    <div style="justify-content: center;  position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;" class="mt-2" *ngIf="loading">
        <ngx-spinner [name] = "transactionSpinner" size = "small" color = "rgb(6,56,107)" type = "ball-spin-clockwise" [fullScreen] = "true"></ngx-spinner>
    </div>

    
</div>

      <!--XXX spinner MH-->
<!-- <ngx-spinner [name] = "spinnerName" bdOpacity = 0.9 size = "medium" color = "rgb(50,205,50)" type = "ball-spin-clockwise" [fullScreen] = "true"></ngx-spinner> -->
