<appbar (myEvent)="refreshPage()">{{ 'helloword' | translate }}</appbar>
<div id="twod-dream-book">
    <div class="container-fluid">
        <div id="twod-header">
            <div class="row">
                <div class="col-12">
                    <twod-close-time [sectionId]="sectionId" (myEvent)="refreshPage()" (closed)="twoDClose($event)"></twod-close-time>
                </div>
            </div>
            <div class="row mt-2 justify-content-center">                
                <div class="col-10">
                    <input type="number" minlength="3" class="form-control dream-amt-input" placeholder="{{'amountHint' | translate}}" [(ngModel)]="amount" id="betAmount"
                     (keyup.enter)="enter($event)" [ngModelOptions]="{standalone: true}" (keyup)="checkBetAmount()">
                    <p id="betAmountErr" class="error-color"></p>
                </div>
            </div>
            <div class="row justify-content-center mb-1" style="margin-top: -10px;">
                <div class="col-10">
                    <div class="dream-searching-col">
                        <div class="input-container">
                          <input 
                            type="text" 
                            placeholder="{{'game_serach' | translate}}" 
                            (keyup)="search()" 
                            [(ngModel)]="searchKey" 
                            [ngModelOptions]="{standalone: true}" 
                            class="dream-searching" 
                          />
                          <img src="assets/img/icons/search.png" alt="search" class="dream-searching-icon" />
                        </div>
                      </div>
                </div>
            </div>
            <ng-template #dreamCount>
                <div class="modal-body">
                    <div class="section full">
                        <div class="section-title">{{ 'selectdNumbers' | translate}}</div>
                        <div class="container">
                            <div class="row">
                                <div class="col-2" *ngFor="let countDream of modalService.config.initialState.list;let i=index">
                                    <button class="btn selected-btn btn-sm" [class]="countDream.isUse? 'selected':'not-selected'" (click)="dreamCountBetNumberSelected(countDream.number, !countDream.isUse)">{{ countDream.number }}</button>
                                </div>
                            </div>
                        </div>
                        <div class="wide-block mt-1">
                            <input type="number" (keyup.enter)="enter($event)" class="dream-amt-input"
                                [(ngModel)]="modalService.config.initialState.amount" id="dreamBetAmount"
                                [ngModelOptions]="{standalone: true}" value={{modalService.config.initialState.amount}}
                                (keyup)="checkCountAmount()" placeholder="{{'amountHint' | translate}}">
                            <p id="countAmountErr" class="error-color"></p>
                        </div>
                    </div>
                    <div class="section full">
                        <div class="wide-block mt-1">
                            <div class="row justify-content-end">
                                <button type="button" class="btn dream-cancel-btn mr-1" (click)="dreamCountCancel()">{{ 'cancel' | translate }}</button>
                                <button type="button" class="btn dream-bet-btn" (click)="dreamCountBet()" onclick="document.getElementById('dreamBetAmount').focus()">{{ 'bet' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
        <div class="row justify-content-center" style="margin-top: 185px;">
            <div class="col-4 mb-1 mt-1" *ngFor="let book of addList;let i=index">
                <p class="dream-desc">{{ changeLanguage(book) }}</p>
                <div class="dream-img"><img [src]="book.imageUrl" alt=""></div>
                <div class="d-flex justify-content-between">
                    <button class="btn selected-btn" style="width: 50%;  border-radius : 0px 0 0 10px;" [class]="book.isSelected1? 'selected':'not-selected'"
                        (click)="betNumberSelected(book.id, book.number1, !book.isSelected1)">
                        {{ book.number1 }}
                        <span *ngIf="book.isR1" class="reverse-icon-left">R</span>
                    </button>
                    <button class="btn selected-btn" style="width: 50%;border-radius : 0 0  10px 0;" [class]="book.isSelected2? 'selected':'not-selected'"
                        (click)="betNumberSelected(book.id, book.number2, !book.isSelected2)">
                        {{ book.number2 }}
                        <span *ngIf="book.isR2" class="reverse-icon-right">R</span>
                    </button>
                </div>
            </div>          
        </div>
        <div class="row justify-content-center mt-2"  style="margin-bottom: 80px;">
            <button type="button" class="button" [hidden]=isLast (click)="getDreamBookList(pageNumber)" *ngIf="loadingMore">
                More
            </button>            
        </div>
       
        <div id="navTwoDBet" class="d-flex justify-content-around pt-1">
            <button type="button" class="btn clean-btn" (click)="twodBetDreamClean()">{{ 'clean' | translate}}</button>
            <button type="button" class="btn twod-bet-btn" (click)="twodBetDream()" onclick="document.getElementById('betAmount').focus()">{{ 'bet' | translate}} 
            <span *ngIf="betSelectedCount > 0" class="bet-selected-count-icon">{{ betSelectedCount }}</span></button>
        </div>
    </div>
</div> <!-- end of twod-dream-book -->


<!-- refresh loading -->
<ngx-spinner [name]="common.loading.refreshLoading.name" [size]="common.loading.refreshLoading.size"
    [color]="common.loading.refreshLoading.color" [type]="common.loading.refreshLoading.type"
    [fullScreen]="common.loading.refreshLoading.fullScreen"></ngx-spinner>