
@import "../../../../variables";
#appCapsule {
    padding: 0px !important;
    background-color: #fff !important;
    height: 100% !important;
  }

  #gmailInput {
    border: none;
    outline: none;
  }

  #gmailInput:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  input::placeholder {
    font-size: 13px;
  }

  .line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 30px 10px 30px;
}

.line {
  flex: 1;
  height: 1px;
  width:40%;
  background-color: rgb(215, 212, 212);
}

.text-or {
  padding: 0 10px;
  font-size: 16px;
  color: rgb(215, 212, 212);
}






