<app-not-refresh-appbar>{{ 'helloword' | translate }}</app-not-refresh-appbar>
<!-- App Capsule -->
<div id="appCapsule" *ngIf="!loadingRefresh">      
    <div class="container pb-2">
        <div class="container">
            <div class="row pt-1 justify-content-center" style="background-color: #2253A2;">
                <h2 *ngIf="type=='2D'" style="color:#fff;text-align: center;">{{'winner_list_header' |translate}}</h2>
                 <h2 *ngIf="type=='3D'"  style="color:#fff;text-align: center;">{{'winner_list_header_3d' |translate}}</h2>
                <!-- <img [src]="(type=='2D')?twodimgeLink: 'assets/img/winner_3d.png'" alt="winner_2d" class="winner_2d" >     -->
                                
             </div>
               <!-- <div class="row pt-1" style="background-color: red;">
                <img [src]="(type=='2D')?twodimgeLink: 'assets/img/winner_3d.png'" alt="winner_2d" class="winner_2d" >    
                                
             </div> -->
        </div>
        <div class="container pt-2">
            <div class="row">          
                <div class="col-6 d-flex justify-content-start">
                    <div class="">
                        <span class="text-muted">Updated at:</span> 
                        <h5 *ngIf ="type =='2D'" class="mt-1" style="font-weight: bold;">{{ resultObj.datetime2d  | date:'mediumDate' }}{{ ", " }}{{ resultObj.for_time}} </h5>                   
                        <h5 *ngIf ="type =='3D'" class="mt-1" style="font-weight: bold;">{{ resultObj.datetime3d | date:'dd MMMM yyyy' }} </h5>
                    </div>
                 </div>       
                 <div class="col-6 d-flex justify-content-end">
                     <h3 class="ml-2 pl-2 pt-1 win-number" *ngIf ="type =='2D'">{{resultObj.number2d}}</h3>
                     <h3 class="ml-2 pl-2 pt-1 win-number" *ngIf ="type =='3D'">{{resultObj.number3d}}</h3>
                 </div>  
            </div>    
        </div>           
    </div>
    <div class="container pt-5">
        <div class="row mx-2 top-winner-wrapper">
            <ng-container *ngFor="let item of winnerList; let i=index;">
                <div *ngIf="i < 3" class="col-4 p-0"
                    [class.order-1]="(winnerList.length > 3 || winnerList.length == 2 || winnerList.length == 3) && i == 1"
                    
                    [ngClass]="{
                        'order-2' : (winnerList.length > 3 || winnerList.length == 3 || winnerList.length == 2) && i == 0,
                        'center-top' : (winnerList.length > 3 || winnerList.length == 3 || winnerList.length == 2 || winnerList.length == 1) && i == 0,
                        'center-top-second' : (winnerList.length > 3 || winnerList.length == 2 || winnerList.length == 3) && i == 1,
                        'offset-4' : winnerList.length == 1 && i == 0
                    }"
                    
                    [class.order-3]="(winnerList.length > 3 || winnerList.length == 3) && i == 2"
                >
                    <div [class.first]="i == 0" [class.second]="i == 1" [class.third]="i == 2" class="top-winner-card">
                        <div class="winner-image">
                            <img [src]="(item.imageUrl != null)? item.imageUrl : 'assets/img/user.png'" alt="">
                        </div>
                        <div class="winner-name"><span>{{ item.username }}</span></div>
                        <div class="winner-phone">{{ item.phone_no }}</div>
                        <div class="bet-amount clearfix">
                            <div class="float-left">{{ 'bet_amt' | translate }}</div>
                            <div class="float-right">{{ item.bet_amount | number : '1.0-2' }}</div>
                        </div>
                        <div class="win-amount clearfix">
                            <div class="float-left">{{ 'win_amt' | translate }}</div>
                            <div class="float-right">{{ item.win_amount | number : '1.0-2' }}</div>
                        </div>                       
                    </div>
                </div>
            </ng-container>      
        </div>
       
        <ng-container *ngFor="let item of winnerList; let i=index;">
            <div *ngIf="i > 2" [class]="(i % 2) == 0 ?'winner-card second': 'winner-card'" class="row mx-2 align-items-center" [ngStyle]="{'margin-top': (i == 3) ? '110px' : '15px' }">
                <div class="col-3  p-0">
                    <div class="d-flex">
                        <span style="font-size: 14px; font-weight: bold; position: relative; top: 16px;">{{i+1}}</span>
                        <img [src]="(item.imageUrl != null)? item.imageUrl :'assets/img/user.png'" alt="" class="winner-image">
                    </div>
                </div>  
                <div class="col-3 p-0">
                    <div class="font-weight-bold">{{ item.username }}</div>
                    <div>{{ item.phone_no }}</div>
                </div>
                <div class="col-3 p-0">
                    <div class="font-weight-bold">{{ 'bet_amount' | translate }}</div>
                    <div>{{ item.bet_amount | number : '1.0-2' }} {{ 'ks' | translate}}</div>
                </div>
                <div class="col-3 p-0">
                    <div class="font-weight-bold">{{ 'winAmount' | translate }}</div>
                    <div>{{ item.win_amount | number : '1.0-2' }} {{ 'ks' | translate}}</div>
                </div>
               
            </div>   
        </ng-container>
    </div>
</div>

<!-- XXX spinner -->
<ngx-spinner name = "loadingRefresh" size = "small" color = "rgb(255,255,255)" type = "ball-spin-clockwise" [fullScreen] = "true"></ngx-spinner>