@import '../../../../variables';

.register-warning {
    display: inline-grid;
  }
  .register-warning > span {
    color: #2253A2;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 12px;
   
  }
// .passwordInput {
    
//     background-color: #ddd;
//     border: 1px solid $second-color;
// }
    
#appCapsule {
    padding: 0px !important;
    background-color: #fff !important;
    height: 100% !important;
  }
.passwrod-eye {
    display: flex;
    color: gray;
}
.text-eye {
    color:gray;
    margin-left: -50px;
    margin-top: 10px;   
}

.text-eye i {    
    color: gray;
    font-size: 20px;
}

input::placeholder {
  font-size: 13px;
}
