<app-not-refresh-appbar>{{ 'helloword' | translate }}</app-not-refresh-appbar>
<div id="appCapsule" class="extra-header-active">
    <div class="section full  mx-2">
        <form>
            <div class="section-title pt-2 mb-2" style="color: #2253A2; justify-content: center;">{{
                'forget_password_title' | translate}}</div>
            <div class="col">
                <div class="passwrod-eye">
                    <input [type]="passwordType" maxlength="21" class="passwordInput form-control"
                        placeholder="{{ 'regpasswordHint' | translate}}" [(ngModel)]="password"
                        [ngModelOptions]="{standalone: true}" (keyup)="checkPassword()">
                    <span class="text-eye">
                        <a (click)="showPassword(!showPass)">
                            <i class="material-icons" style="margin-left: 2px; font-size: 20px;"
                                *ngIf="showPass">visibility</i>
                            <i class="material-icons" style="margin-left: 2px; font-size: 20px;"
                                *ngIf="!showPass">visibility_off</i>
                        </a>
                    </span>
                </div>
                <p id="passwordErr" class="error-color"></p>
            </div>
            <div class="col">
                <div class="passwrod-eye">
                    <input [type]="confirmpasswordType" maxlength="21" class="passwordInput form-control"
                        placeholder="{{ 'regconfirmpasswordHint' | translate}}" [(ngModel)]="confirmPassword"
                        [ngModelOptions]="{standalone: true}" (keyup)=" checkConfirmPassword()">
                    <span class="text-eye">
                        <a (click)="showconfirmPassword(!showconfirmPass)">
                            <i class="material-icons" style="margin-left: 2px; font-size: 20px;"
                                *ngIf="showconfirmPass">visibility</i>
                            <i class="material-icons" style="margin-left: 2px; font-size: 20px;"
                                *ngIf="!showconfirmPass">visibility_off</i>
                        </a>
                    </span>
                </div>
                <p id="confirmPasswordErr" class="error-color"></p>
            </div>
            <div class="text-center mt-5">
                <button type="button" (click)="resetPwd()"
                    style="background-color: #2253A2;border-radius: 5px;border:none; color: #fff; width: 92% !important;Height:40px">{{
                    'confirm' | translate}}</button>
            </div>
        </form>
    </div>
    <div class="row mx-4 pt-2 register-warning">
        <span>{{ 'register-warning-text1' | translate }}</span>
        <span>{{ 'register-warning-text2' | translate }}</span>
        <span>{{ 'register-warning-text3' | translate }}</span>
        <span style="color: red !important;">{{ 'register-warning-text4' | translate }}</span>
    </div>
</div>