#appCapsule {
    padding-top: 0px !important;
    background-color: #fff !important;
    height: 100% !important;
    padding-bottom: 80px !important;
  }
.pending-header {
    padding-top: 5px;
    color: #2456a6;
    font-weight: bold;
}
.service-time {
    color: #2456a6 !important;
    font-size: 15px !important;
    font-weight: bold;
}
.waiting-time {
    text-align: center;
    margin: 0px 20px;
    color: #2456a6;
}