<app-not-refresh-appbar>{{ 'helloword' | translate }}</app-not-refresh-appbar>
<div id="appCapsule">
    <div class="container">
        <div class="pt-2">
            <div class="text-center">
                <img src="assets/img/pendingimage.png" alt="pendingimage" width="100px" height="100px">
            </div>
            <div class="section full">
                <div class="row phones pt-1 d-flex justify-content-center"
                    style="word-wrap:break-word; text-align: center;font-weight: bold; color:#2253A2 !important">
                    <p>{{ 'bank-slip-upload-success1' | translate}}</p>
                </div>
            </div>
            <div class="">

            </div>
            <div class="row justify-content-center mt-2">
                <button type="button"
                    style="background-color: #2456a6; border:none;border-radius: 5px;width: 90%;height: 40px; color: #fff;"
                    (click)="goBackHome()">{{ 'ok' | translate}}</button>
            </div>
        </div>
    </div>
</div>