$first-color: #023631;
$second-color: #017078;
$second-color-hover: #f1cb98;
$third-color: #f6faf6;

$text-first-color: #00a650;

$img-width : 55px;
$img-height: 55px;
$text-first-color: #00a650;
$text-button-color : #ffffff;
$item-list-color: #000;

$background-color: #fff;
$background-gray-color: #f9f9f9;

$header-color: #023631;

$auth-background-color: #00403a;
$auth-input-color: #01424c;
$red-color: #ff3f3f;
$yellow-color: #ffcb50;
$green-color: #32cd32;
$blue-color: #1a0dab;

$topup-card-color: #00403a;
$button-background-color: #017078;

$font-size-xxl: 20px;
$font-size-xl: 18px;
$font-size-lg: 16px;
$font-size-normal: 14px; // default
$font-size-sm: 13px;
$font-size-xs: 12px;
$font-size-xxs: 11px;